mormo.egg-info/
node_modules/
dist/
.pytest_cache/
.hypothesis/
data.yaml
poetry.lock
package.json
package-lock.json
postman_run_result.json
postman_collection_v2.json
test_collection.json
o.json
*/__pycache__
*/*/__pycache__
log/
test.py
schema.json
data/2/*.json
data/3/*.json
data/*.json
.coverage
