{"openapi": "3.0.0", "servers": [{"url": "https://run.googleapis.com/"}], "info": {"contact": {"name": "Google", "url": "https://google.com"}, "description": "Deploy and manage user provided container images that scale automatically based on HTTP traffic.", "license": {"name": "Creative Commons Attribution 3.0", "url": "http://creativecommons.org/licenses/by/3.0/"}, "termsOfService": "https://developers.google.com/terms/", "title": "Cloud Run", "version": "v1", "x-apiClientRegistration": {"url": "https://console.developers.google.com"}, "x-logo": {"url": "https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png"}, "x-origin": [{"converter": {"url": "https://github.com/lucybot/api-spec-converter", "version": "2.7.31"}, "format": "google", "url": "https://run.googleapis.com/$discovery/rest?version=v1", "version": "v1"}], "x-preferred": true, "x-providerName": "googleapis.com", "x-serviceName": "run"}, "externalDocs": {"url": "https://cloud.google.com/run/"}, "tags": [{"name": "projects"}, {"name": "namespaces"}], "paths": {"/apis/domains.cloudrun.com/v1/{name}": {"delete": {"description": "Delete a domain mapping.", "operationId": "run.namespaces.domainmappings.delete", "parameters": [{"description": "The name of the domain mapping to delete.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.", "in": "path", "name": "name", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}, {"description": "Cloud Run currently ignores this parameter.", "in": "query", "name": "apiVersion", "schema": {"type": "string"}}, {"description": "Cloud Run currently ignores this parameter.", "in": "query", "name": "kind", "schema": {"type": "string"}}, {"description": "Specifies the propagation policy of delete. Cloud Run currently ignores\nthis setting, and deletes in the background. Please see\nkubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for\nmore information.", "in": "query", "name": "propagationPolicy", "schema": {"type": "string"}}], "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/Status"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}], "tags": ["namespaces"]}, "get": {"description": "Get information about a domain mapping.", "operationId": "run.namespaces.domainmappings.get", "parameters": [{"description": "The name of the domain mapping to retrieve.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.", "in": "path", "name": "name", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}], "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/DomainMapping"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}], "tags": ["namespaces"]}, "parameters": [{"$ref": "#/components/parameters/upload_protocol"}, {"$ref": "#/components/parameters/quotaUser"}, {"$ref": "#/components/parameters/prettyPrint"}, {"$ref": "#/components/parameters/fields"}, {"$ref": "#/components/parameters/uploadType"}, {"$ref": "#/components/parameters/callback"}, {"$ref": "#/components/parameters/oauth_token"}, {"$ref": "#/components/parameters/_.xgafv"}, {"$ref": "#/components/parameters/alt"}, {"$ref": "#/components/parameters/access_token"}, {"$ref": "#/components/parameters/key"}]}, "/apis/domains.cloudrun.com/v1/{parent}/authorizeddomains": {"get": {"description": "List authorized domains.", "operationId": "run.namespaces.authorizeddomains.list", "parameters": [{"description": "Name of the parent Application resource. Example: `apps/myapp`.", "in": "path", "name": "parent", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}, {"description": "Maximum results to return per page.", "in": "query", "name": "pageSize", "schema": {"type": "integer"}}, {"description": "Continuation token for fetching the next page of results.", "in": "query", "name": "pageToken", "schema": {"type": "string"}}], "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/ListAuthorizedDomainsResponse"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}], "tags": ["namespaces"]}, "parameters": [{"$ref": "#/components/parameters/upload_protocol"}, {"$ref": "#/components/parameters/quotaUser"}, {"$ref": "#/components/parameters/prettyPrint"}, {"$ref": "#/components/parameters/fields"}, {"$ref": "#/components/parameters/uploadType"}, {"$ref": "#/components/parameters/callback"}, {"$ref": "#/components/parameters/oauth_token"}, {"$ref": "#/components/parameters/_.xgafv"}, {"$ref": "#/components/parameters/alt"}, {"$ref": "#/components/parameters/access_token"}, {"$ref": "#/components/parameters/key"}]}, "/apis/domains.cloudrun.com/v1/{parent}/domainmappings": {"get": {"description": "List domain mappings.", "operationId": "run.namespaces.domainmappings.list", "parameters": [{"description": "The namespace from which the domain mappings should be listed.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.", "in": "path", "name": "parent", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}, {"description": "Optional encoded string to continue paging.", "in": "query", "name": "continue", "schema": {"type": "string"}}, {"description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run.", "in": "query", "name": "fieldSelector", "schema": {"type": "string"}}, {"description": "Not currently used by Cloud Run.", "in": "query", "name": "includeUninitialized", "schema": {"type": "boolean"}}, {"description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn.", "in": "query", "name": "labelSelector", "schema": {"type": "string"}}, {"description": "The maximum number of records that should be returned.", "in": "query", "name": "limit", "schema": {"type": "integer"}}, {"description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run.", "in": "query", "name": "resourceVersion", "schema": {"type": "string"}}, {"description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run.", "in": "query", "name": "watch", "schema": {"type": "boolean"}}], "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/ListDomainMappingsResponse"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}], "tags": ["namespaces"]}, "parameters": [{"$ref": "#/components/parameters/upload_protocol"}, {"$ref": "#/components/parameters/quotaUser"}, {"$ref": "#/components/parameters/prettyPrint"}, {"$ref": "#/components/parameters/fields"}, {"$ref": "#/components/parameters/uploadType"}, {"$ref": "#/components/parameters/callback"}, {"$ref": "#/components/parameters/oauth_token"}, {"$ref": "#/components/parameters/_.xgafv"}, {"$ref": "#/components/parameters/alt"}, {"$ref": "#/components/parameters/access_token"}, {"$ref": "#/components/parameters/key"}], "post": {"description": "Create a new domain mapping.", "operationId": "run.namespaces.domainmappings.create", "parameters": [{"description": "The namespace in which the domain mapping should be created.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.", "in": "path", "name": "parent", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/DomainMapping"}}}}, "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/DomainMapping"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}], "tags": ["namespaces"]}}, "/apis/serving.knative.dev/v1/{name}": {"delete": {"description": "Delete a service.\nThis will cause the Service to stop serving traffic and will delete the\nchild entities like Routes, Configurations and Revisions.", "operationId": "run.namespaces.services.delete", "parameters": [{"description": "The name of the service to delete.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.", "in": "path", "name": "name", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}, {"description": "Cloud Run currently ignores this parameter.", "in": "query", "name": "apiVersion", "schema": {"type": "string"}}, {"description": "Cloud Run currently ignores this parameter.", "in": "query", "name": "kind", "schema": {"type": "string"}}, {"description": "Specifies the propagation policy of delete. Cloud Run currently ignores\nthis setting, and deletes in the background. Please see\nkubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for\nmore information.", "in": "query", "name": "propagationPolicy", "schema": {"type": "string"}}], "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/Status"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}], "tags": ["namespaces"]}, "get": {"description": "Get information about a service.", "operationId": "run.namespaces.services.get", "parameters": [{"description": "The name of the service to retrieve.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.", "in": "path", "name": "name", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}], "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/Service"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}], "tags": ["namespaces"]}, "parameters": [{"$ref": "#/components/parameters/upload_protocol"}, {"$ref": "#/components/parameters/quotaUser"}, {"$ref": "#/components/parameters/prettyPrint"}, {"$ref": "#/components/parameters/fields"}, {"$ref": "#/components/parameters/uploadType"}, {"$ref": "#/components/parameters/callback"}, {"$ref": "#/components/parameters/oauth_token"}, {"$ref": "#/components/parameters/_.xgafv"}, {"$ref": "#/components/parameters/alt"}, {"$ref": "#/components/parameters/access_token"}, {"$ref": "#/components/parameters/key"}], "put": {"description": "Replace a service.\n\nOnly the spec and metadata labels and annotations are modifiable. After\nthe Update request, Cloud Run will work to make the 'status'\nmatch the requested 'spec'.\n\nMay provide metadata.resourceVersion to enforce update from last read for\noptimistic concurrency control.", "operationId": "run.namespaces.services.replaceService", "parameters": [{"description": "The name of the service being replaced.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.", "in": "path", "name": "name", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Service"}}}}, "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/Service"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}], "tags": ["namespaces"]}}, "/apis/serving.knative.dev/v1/{parent}/configurations": {"get": {"description": "List configurations.", "operationId": "run.namespaces.configurations.list", "parameters": [{"description": "The namespace from which the configurations should be listed.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.", "in": "path", "name": "parent", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}, {"description": "Optional encoded string to continue paging.", "in": "query", "name": "continue", "schema": {"type": "string"}}, {"description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run.", "in": "query", "name": "fieldSelector", "schema": {"type": "string"}}, {"description": "Not currently used by Cloud Run.", "in": "query", "name": "includeUninitialized", "schema": {"type": "boolean"}}, {"description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn.", "in": "query", "name": "labelSelector", "schema": {"type": "string"}}, {"description": "The maximum number of records that should be returned.", "in": "query", "name": "limit", "schema": {"type": "integer"}}, {"description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run.", "in": "query", "name": "resourceVersion", "schema": {"type": "string"}}, {"description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run.", "in": "query", "name": "watch", "schema": {"type": "boolean"}}], "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/ListConfigurationsResponse"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}], "tags": ["namespaces"]}, "parameters": [{"$ref": "#/components/parameters/upload_protocol"}, {"$ref": "#/components/parameters/quotaUser"}, {"$ref": "#/components/parameters/prettyPrint"}, {"$ref": "#/components/parameters/fields"}, {"$ref": "#/components/parameters/uploadType"}, {"$ref": "#/components/parameters/callback"}, {"$ref": "#/components/parameters/oauth_token"}, {"$ref": "#/components/parameters/_.xgafv"}, {"$ref": "#/components/parameters/alt"}, {"$ref": "#/components/parameters/access_token"}, {"$ref": "#/components/parameters/key"}]}, "/apis/serving.knative.dev/v1/{parent}/revisions": {"get": {"description": "List revisions.", "operationId": "run.namespaces.revisions.list", "parameters": [{"description": "The namespace from which the revisions should be listed.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.", "in": "path", "name": "parent", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}, {"description": "Optional encoded string to continue paging.", "in": "query", "name": "continue", "schema": {"type": "string"}}, {"description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run.", "in": "query", "name": "fieldSelector", "schema": {"type": "string"}}, {"description": "Not currently used by Cloud Run.", "in": "query", "name": "includeUninitialized", "schema": {"type": "boolean"}}, {"description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn.", "in": "query", "name": "labelSelector", "schema": {"type": "string"}}, {"description": "The maximum number of records that should be returned.", "in": "query", "name": "limit", "schema": {"type": "integer"}}, {"description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run.", "in": "query", "name": "resourceVersion", "schema": {"type": "string"}}, {"description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run.", "in": "query", "name": "watch", "schema": {"type": "boolean"}}], "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/ListRevisionsResponse"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}], "tags": ["namespaces"]}, "parameters": [{"$ref": "#/components/parameters/upload_protocol"}, {"$ref": "#/components/parameters/quotaUser"}, {"$ref": "#/components/parameters/prettyPrint"}, {"$ref": "#/components/parameters/fields"}, {"$ref": "#/components/parameters/uploadType"}, {"$ref": "#/components/parameters/callback"}, {"$ref": "#/components/parameters/oauth_token"}, {"$ref": "#/components/parameters/_.xgafv"}, {"$ref": "#/components/parameters/alt"}, {"$ref": "#/components/parameters/access_token"}, {"$ref": "#/components/parameters/key"}]}, "/apis/serving.knative.dev/v1/{parent}/routes": {"get": {"description": "List routes.", "operationId": "run.namespaces.routes.list", "parameters": [{"description": "The namespace from which the routes should be listed.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.", "in": "path", "name": "parent", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}, {"description": "Optional encoded string to continue paging.", "in": "query", "name": "continue", "schema": {"type": "string"}}, {"description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run.", "in": "query", "name": "fieldSelector", "schema": {"type": "string"}}, {"description": "Not currently used by Cloud Run.", "in": "query", "name": "includeUninitialized", "schema": {"type": "boolean"}}, {"description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn.", "in": "query", "name": "labelSelector", "schema": {"type": "string"}}, {"description": "The maximum number of records that should be returned.", "in": "query", "name": "limit", "schema": {"type": "integer"}}, {"description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run.", "in": "query", "name": "resourceVersion", "schema": {"type": "string"}}, {"description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run.", "in": "query", "name": "watch", "schema": {"type": "boolean"}}], "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/ListRoutesResponse"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}], "tags": ["namespaces"]}, "parameters": [{"$ref": "#/components/parameters/upload_protocol"}, {"$ref": "#/components/parameters/quotaUser"}, {"$ref": "#/components/parameters/prettyPrint"}, {"$ref": "#/components/parameters/fields"}, {"$ref": "#/components/parameters/uploadType"}, {"$ref": "#/components/parameters/callback"}, {"$ref": "#/components/parameters/oauth_token"}, {"$ref": "#/components/parameters/_.xgafv"}, {"$ref": "#/components/parameters/alt"}, {"$ref": "#/components/parameters/access_token"}, {"$ref": "#/components/parameters/key"}]}, "/apis/serving.knative.dev/v1/{parent}/services": {"get": {"description": "List services.", "operationId": "run.namespaces.services.list", "parameters": [{"description": "The namespace from which the services should be listed.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.", "in": "path", "name": "parent", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}, {"description": "Optional encoded string to continue paging.", "in": "query", "name": "continue", "schema": {"type": "string"}}, {"description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run.", "in": "query", "name": "fieldSelector", "schema": {"type": "string"}}, {"description": "Not currently used by Cloud Run.", "in": "query", "name": "includeUninitialized", "schema": {"type": "boolean"}}, {"description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn.", "in": "query", "name": "labelSelector", "schema": {"type": "string"}}, {"description": "The maximum number of records that should be returned.", "in": "query", "name": "limit", "schema": {"type": "integer"}}, {"description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run.", "in": "query", "name": "resourceVersion", "schema": {"type": "string"}}, {"description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run.", "in": "query", "name": "watch", "schema": {"type": "boolean"}}], "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/ListServicesResponse"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}], "tags": ["namespaces"]}, "parameters": [{"$ref": "#/components/parameters/upload_protocol"}, {"$ref": "#/components/parameters/quotaUser"}, {"$ref": "#/components/parameters/prettyPrint"}, {"$ref": "#/components/parameters/fields"}, {"$ref": "#/components/parameters/uploadType"}, {"$ref": "#/components/parameters/callback"}, {"$ref": "#/components/parameters/oauth_token"}, {"$ref": "#/components/parameters/_.xgafv"}, {"$ref": "#/components/parameters/alt"}, {"$ref": "#/components/parameters/access_token"}, {"$ref": "#/components/parameters/key"}], "post": {"description": "Create a service.", "operationId": "run.namespaces.services.create", "parameters": [{"description": "The namespace in which the service should be created.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.", "in": "path", "name": "parent", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Service"}}}}, "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/Service"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}], "tags": ["namespaces"]}}, "/v1/{name}": {"delete": {"description": "Delete a service.\nThis will cause the Service to stop serving traffic and will delete the\nchild entities like Routes, Configurations and Revisions.", "operationId": "run.projects.locations.services.delete", "parameters": [{"description": "The name of the service to delete.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.", "in": "path", "name": "name", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}, {"description": "Cloud Run currently ignores this parameter.", "in": "query", "name": "apiVersion", "schema": {"type": "string"}}, {"description": "Cloud Run currently ignores this parameter.", "in": "query", "name": "kind", "schema": {"type": "string"}}, {"description": "Specifies the propagation policy of delete. Cloud Run currently ignores\nthis setting, and deletes in the background. Please see\nkubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for\nmore information.", "in": "query", "name": "propagationPolicy", "schema": {"type": "string"}}], "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/Status"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}], "tags": ["projects"]}, "get": {"description": "Get information about a service.", "operationId": "run.projects.locations.services.get", "parameters": [{"description": "The name of the service to retrieve.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.", "in": "path", "name": "name", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}], "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/Service"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}], "tags": ["projects"]}, "parameters": [{"$ref": "#/components/parameters/upload_protocol"}, {"$ref": "#/components/parameters/quotaUser"}, {"$ref": "#/components/parameters/prettyPrint"}, {"$ref": "#/components/parameters/fields"}, {"$ref": "#/components/parameters/uploadType"}, {"$ref": "#/components/parameters/callback"}, {"$ref": "#/components/parameters/oauth_token"}, {"$ref": "#/components/parameters/_.xgafv"}, {"$ref": "#/components/parameters/alt"}, {"$ref": "#/components/parameters/access_token"}, {"$ref": "#/components/parameters/key"}], "put": {"description": "Replace a service.\n\nOnly the spec and metadata labels and annotations are modifiable. After\nthe Update request, Cloud Run will work to make the 'status'\nmatch the requested 'spec'.\n\nMay provide metadata.resourceVersion to enforce update from last read for\noptimistic concurrency control.", "operationId": "run.projects.locations.services.replaceService", "parameters": [{"description": "The name of the service being replaced.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.", "in": "path", "name": "name", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Service"}}}}, "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/Service"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}], "tags": ["projects"]}}, "/v1/{name}/locations": {"get": {"description": "Lists information about the supported locations for this service.", "operationId": "run.projects.locations.list", "parameters": [{"description": "The resource that owns the locations collection, if applicable.", "in": "path", "name": "name", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}, {"description": "The standard list filter.", "in": "query", "name": "filter", "schema": {"type": "string"}}, {"description": "The standard list page size.", "in": "query", "name": "pageSize", "schema": {"type": "integer"}}, {"description": "The standard list page token.", "in": "query", "name": "pageToken", "schema": {"type": "string"}}], "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/ListLocationsResponse"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}], "tags": ["projects"]}, "parameters": [{"$ref": "#/components/parameters/upload_protocol"}, {"$ref": "#/components/parameters/quotaUser"}, {"$ref": "#/components/parameters/prettyPrint"}, {"$ref": "#/components/parameters/fields"}, {"$ref": "#/components/parameters/uploadType"}, {"$ref": "#/components/parameters/callback"}, {"$ref": "#/components/parameters/oauth_token"}, {"$ref": "#/components/parameters/_.xgafv"}, {"$ref": "#/components/parameters/alt"}, {"$ref": "#/components/parameters/access_token"}, {"$ref": "#/components/parameters/key"}]}, "/v1/{parent}/authorizeddomains": {"get": {"description": "List authorized domains.", "operationId": "run.projects.locations.authorizeddomains.list", "parameters": [{"description": "Name of the parent Application resource. Example: `apps/myapp`.", "in": "path", "name": "parent", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}, {"description": "Maximum results to return per page.", "in": "query", "name": "pageSize", "schema": {"type": "integer"}}, {"description": "Continuation token for fetching the next page of results.", "in": "query", "name": "pageToken", "schema": {"type": "string"}}], "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/ListAuthorizedDomainsResponse"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}], "tags": ["projects"]}, "parameters": [{"$ref": "#/components/parameters/upload_protocol"}, {"$ref": "#/components/parameters/quotaUser"}, {"$ref": "#/components/parameters/prettyPrint"}, {"$ref": "#/components/parameters/fields"}, {"$ref": "#/components/parameters/uploadType"}, {"$ref": "#/components/parameters/callback"}, {"$ref": "#/components/parameters/oauth_token"}, {"$ref": "#/components/parameters/_.xgafv"}, {"$ref": "#/components/parameters/alt"}, {"$ref": "#/components/parameters/access_token"}, {"$ref": "#/components/parameters/key"}]}, "/v1/{parent}/configurations": {"get": {"description": "List configurations.", "operationId": "run.projects.locations.configurations.list", "parameters": [{"description": "The namespace from which the configurations should be listed.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.", "in": "path", "name": "parent", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}, {"description": "Optional encoded string to continue paging.", "in": "query", "name": "continue", "schema": {"type": "string"}}, {"description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run.", "in": "query", "name": "fieldSelector", "schema": {"type": "string"}}, {"description": "Not currently used by Cloud Run.", "in": "query", "name": "includeUninitialized", "schema": {"type": "boolean"}}, {"description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn.", "in": "query", "name": "labelSelector", "schema": {"type": "string"}}, {"description": "The maximum number of records that should be returned.", "in": "query", "name": "limit", "schema": {"type": "integer"}}, {"description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run.", "in": "query", "name": "resourceVersion", "schema": {"type": "string"}}, {"description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run.", "in": "query", "name": "watch", "schema": {"type": "boolean"}}], "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/ListConfigurationsResponse"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}], "tags": ["projects"]}, "parameters": [{"$ref": "#/components/parameters/upload_protocol"}, {"$ref": "#/components/parameters/quotaUser"}, {"$ref": "#/components/parameters/prettyPrint"}, {"$ref": "#/components/parameters/fields"}, {"$ref": "#/components/parameters/uploadType"}, {"$ref": "#/components/parameters/callback"}, {"$ref": "#/components/parameters/oauth_token"}, {"$ref": "#/components/parameters/_.xgafv"}, {"$ref": "#/components/parameters/alt"}, {"$ref": "#/components/parameters/access_token"}, {"$ref": "#/components/parameters/key"}]}, "/v1/{parent}/domainmappings": {"get": {"description": "List domain mappings.", "operationId": "run.projects.locations.domainmappings.list", "parameters": [{"description": "The namespace from which the domain mappings should be listed.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.", "in": "path", "name": "parent", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}, {"description": "Optional encoded string to continue paging.", "in": "query", "name": "continue", "schema": {"type": "string"}}, {"description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run.", "in": "query", "name": "fieldSelector", "schema": {"type": "string"}}, {"description": "Not currently used by Cloud Run.", "in": "query", "name": "includeUninitialized", "schema": {"type": "boolean"}}, {"description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn.", "in": "query", "name": "labelSelector", "schema": {"type": "string"}}, {"description": "The maximum number of records that should be returned.", "in": "query", "name": "limit", "schema": {"type": "integer"}}, {"description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run.", "in": "query", "name": "resourceVersion", "schema": {"type": "string"}}, {"description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run.", "in": "query", "name": "watch", "schema": {"type": "boolean"}}], "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/ListDomainMappingsResponse"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}], "tags": ["projects"]}, "parameters": [{"$ref": "#/components/parameters/upload_protocol"}, {"$ref": "#/components/parameters/quotaUser"}, {"$ref": "#/components/parameters/prettyPrint"}, {"$ref": "#/components/parameters/fields"}, {"$ref": "#/components/parameters/uploadType"}, {"$ref": "#/components/parameters/callback"}, {"$ref": "#/components/parameters/oauth_token"}, {"$ref": "#/components/parameters/_.xgafv"}, {"$ref": "#/components/parameters/alt"}, {"$ref": "#/components/parameters/access_token"}, {"$ref": "#/components/parameters/key"}], "post": {"description": "Create a new domain mapping.", "operationId": "run.projects.locations.domainmappings.create", "parameters": [{"description": "The namespace in which the domain mapping should be created.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.", "in": "path", "name": "parent", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/DomainMapping"}}}}, "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/DomainMapping"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}], "tags": ["projects"]}}, "/v1/{parent}/revisions": {"get": {"description": "List revisions.", "operationId": "run.projects.locations.revisions.list", "parameters": [{"description": "The namespace from which the revisions should be listed.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.", "in": "path", "name": "parent", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}, {"description": "Optional encoded string to continue paging.", "in": "query", "name": "continue", "schema": {"type": "string"}}, {"description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run.", "in": "query", "name": "fieldSelector", "schema": {"type": "string"}}, {"description": "Not currently used by Cloud Run.", "in": "query", "name": "includeUninitialized", "schema": {"type": "boolean"}}, {"description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn.", "in": "query", "name": "labelSelector", "schema": {"type": "string"}}, {"description": "The maximum number of records that should be returned.", "in": "query", "name": "limit", "schema": {"type": "integer"}}, {"description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run.", "in": "query", "name": "resourceVersion", "schema": {"type": "string"}}, {"description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run.", "in": "query", "name": "watch", "schema": {"type": "boolean"}}], "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/ListRevisionsResponse"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}], "tags": ["projects"]}, "parameters": [{"$ref": "#/components/parameters/upload_protocol"}, {"$ref": "#/components/parameters/quotaUser"}, {"$ref": "#/components/parameters/prettyPrint"}, {"$ref": "#/components/parameters/fields"}, {"$ref": "#/components/parameters/uploadType"}, {"$ref": "#/components/parameters/callback"}, {"$ref": "#/components/parameters/oauth_token"}, {"$ref": "#/components/parameters/_.xgafv"}, {"$ref": "#/components/parameters/alt"}, {"$ref": "#/components/parameters/access_token"}, {"$ref": "#/components/parameters/key"}]}, "/v1/{parent}/routes": {"get": {"description": "List routes.", "operationId": "run.projects.locations.routes.list", "parameters": [{"description": "The namespace from which the routes should be listed.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.", "in": "path", "name": "parent", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}, {"description": "Optional encoded string to continue paging.", "in": "query", "name": "continue", "schema": {"type": "string"}}, {"description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run.", "in": "query", "name": "fieldSelector", "schema": {"type": "string"}}, {"description": "Not currently used by Cloud Run.", "in": "query", "name": "includeUninitialized", "schema": {"type": "boolean"}}, {"description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn.", "in": "query", "name": "labelSelector", "schema": {"type": "string"}}, {"description": "The maximum number of records that should be returned.", "in": "query", "name": "limit", "schema": {"type": "integer"}}, {"description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run.", "in": "query", "name": "resourceVersion", "schema": {"type": "string"}}, {"description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run.", "in": "query", "name": "watch", "schema": {"type": "boolean"}}], "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/ListRoutesResponse"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}], "tags": ["projects"]}, "parameters": [{"$ref": "#/components/parameters/upload_protocol"}, {"$ref": "#/components/parameters/quotaUser"}, {"$ref": "#/components/parameters/prettyPrint"}, {"$ref": "#/components/parameters/fields"}, {"$ref": "#/components/parameters/uploadType"}, {"$ref": "#/components/parameters/callback"}, {"$ref": "#/components/parameters/oauth_token"}, {"$ref": "#/components/parameters/_.xgafv"}, {"$ref": "#/components/parameters/alt"}, {"$ref": "#/components/parameters/access_token"}, {"$ref": "#/components/parameters/key"}]}, "/v1/{parent}/services": {"get": {"description": "List services.", "operationId": "run.projects.locations.services.list", "parameters": [{"description": "The namespace from which the services should be listed.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.", "in": "path", "name": "parent", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}, {"description": "Optional encoded string to continue paging.", "in": "query", "name": "continue", "schema": {"type": "string"}}, {"description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run.", "in": "query", "name": "fieldSelector", "schema": {"type": "string"}}, {"description": "Not currently used by Cloud Run.", "in": "query", "name": "includeUninitialized", "schema": {"type": "boolean"}}, {"description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn.", "in": "query", "name": "labelSelector", "schema": {"type": "string"}}, {"description": "The maximum number of records that should be returned.", "in": "query", "name": "limit", "schema": {"type": "integer"}}, {"description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run.", "in": "query", "name": "resourceVersion", "schema": {"type": "string"}}, {"description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run.", "in": "query", "name": "watch", "schema": {"type": "boolean"}}], "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/ListServicesResponse"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}], "tags": ["projects"]}, "parameters": [{"$ref": "#/components/parameters/upload_protocol"}, {"$ref": "#/components/parameters/quotaUser"}, {"$ref": "#/components/parameters/prettyPrint"}, {"$ref": "#/components/parameters/fields"}, {"$ref": "#/components/parameters/uploadType"}, {"$ref": "#/components/parameters/callback"}, {"$ref": "#/components/parameters/oauth_token"}, {"$ref": "#/components/parameters/_.xgafv"}, {"$ref": "#/components/parameters/alt"}, {"$ref": "#/components/parameters/access_token"}, {"$ref": "#/components/parameters/key"}], "post": {"description": "Create a service.", "operationId": "run.projects.locations.services.create", "parameters": [{"description": "The namespace in which the service should be created.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.", "in": "path", "name": "parent", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Service"}}}}, "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/Service"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}], "tags": ["projects"]}}, "/v1/{resource}:getIamPolicy": {"get": {"description": "Get the IAM Access Control policy currently in effect for the given\nCloud Run service. This result does not include any inherited policies.", "operationId": "run.projects.locations.services.getIamPolicy", "parameters": [{"description": "REQUIRED: The resource for which the policy is being requested.\nSee the operation documentation for the appropriate value for this field.", "in": "path", "name": "resource", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}, {"description": "Optional. The policy format version to be returned.\n\nValid values are 0, 1, and 3. Requests specifying an invalid value will be\nrejected.\n\nRequests for policies with any conditional bindings must specify version 3.\nPolicies without any conditional bindings may specify any valid value or\nleave the field unset.", "in": "query", "name": "options.requestedPolicyVersion", "schema": {"type": "integer"}}], "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/Policy"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}], "tags": ["projects"]}, "parameters": [{"$ref": "#/components/parameters/upload_protocol"}, {"$ref": "#/components/parameters/quotaUser"}, {"$ref": "#/components/parameters/prettyPrint"}, {"$ref": "#/components/parameters/fields"}, {"$ref": "#/components/parameters/uploadType"}, {"$ref": "#/components/parameters/callback"}, {"$ref": "#/components/parameters/oauth_token"}, {"$ref": "#/components/parameters/_.xgafv"}, {"$ref": "#/components/parameters/alt"}, {"$ref": "#/components/parameters/access_token"}, {"$ref": "#/components/parameters/key"}]}, "/v1/{resource}:setIamPolicy": {"parameters": [{"$ref": "#/components/parameters/upload_protocol"}, {"$ref": "#/components/parameters/quotaUser"}, {"$ref": "#/components/parameters/prettyPrint"}, {"$ref": "#/components/parameters/fields"}, {"$ref": "#/components/parameters/uploadType"}, {"$ref": "#/components/parameters/callback"}, {"$ref": "#/components/parameters/oauth_token"}, {"$ref": "#/components/parameters/_.xgafv"}, {"$ref": "#/components/parameters/alt"}, {"$ref": "#/components/parameters/access_token"}, {"$ref": "#/components/parameters/key"}], "post": {"description": "Sets the IAM Access control policy for the specified Service. Overwrites\nany existing policy.", "operationId": "run.projects.locations.services.setIamPolicy", "parameters": [{"description": "REQUIRED: The resource for which the policy is being specified.\nSee the operation documentation for the appropriate value for this field.", "in": "path", "name": "resource", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/SetIamPolicyRequest"}}}}, "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/Policy"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}], "tags": ["projects"]}}, "/v1/{resource}:testIamPermissions": {"parameters": [{"$ref": "#/components/parameters/upload_protocol"}, {"$ref": "#/components/parameters/quotaUser"}, {"$ref": "#/components/parameters/prettyPrint"}, {"$ref": "#/components/parameters/fields"}, {"$ref": "#/components/parameters/uploadType"}, {"$ref": "#/components/parameters/callback"}, {"$ref": "#/components/parameters/oauth_token"}, {"$ref": "#/components/parameters/_.xgafv"}, {"$ref": "#/components/parameters/alt"}, {"$ref": "#/components/parameters/access_token"}, {"$ref": "#/components/parameters/key"}], "post": {"description": "Returns permissions that a caller has on the specified Project.\n\nThere are no permissions required for making this API call.", "operationId": "run.projects.locations.services.testIamPermissions", "parameters": [{"description": "REQUIRED: The resource for which the policy detail is being requested.\nSee the operation documentation for the appropriate value for this field.", "in": "path", "name": "resource", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/TestIamPermissionsRequest"}}}}, "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/TestIamPermissionsResponse"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}], "tags": ["projects"]}}}, "components": {"parameters": {"_.xgafv": {"description": "V1 error format.", "in": "query", "name": "$.xgafv", "schema": {"enum": ["1", "2"], "type": "string"}}, "access_token": {"description": "OAuth access token.", "in": "query", "name": "access_token", "schema": {"type": "string"}}, "alt": {"description": "Data format for response.", "in": "query", "name": "alt", "schema": {"default": "json", "enum": ["json", "media", "proto"], "type": "string"}}, "callback": {"description": "JSONP", "in": "query", "name": "callback", "schema": {"type": "string"}}, "fields": {"description": "Selector specifying which fields to include in a partial response.", "in": "query", "name": "fields", "schema": {"type": "string"}}, "key": {"description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.", "in": "query", "name": "key", "schema": {"type": "string"}}, "oauth_token": {"description": "OAuth 2.0 token for the current user.", "in": "query", "name": "oauth_token", "schema": {"type": "string"}}, "prettyPrint": {"description": "Returns response with indentations and line breaks.", "in": "query", "name": "prettyPrint", "schema": {"default": true, "type": "boolean"}}, "quotaUser": {"description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.", "in": "query", "name": "quotaUser", "schema": {"type": "string"}}, "uploadType": {"description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").", "in": "query", "name": "uploadType", "schema": {"type": "string"}}, "upload_protocol": {"description": "Upload protocol for media (e.g. \"raw\", \"multipart\").", "in": "query", "name": "upload_protocol", "schema": {"type": "string"}}}, "requestBodies": {"DomainMapping": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/DomainMapping"}}}}, "Service": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Service"}}}}}, "schemas": {"Addressable": {"description": "Information for connecting over HTTP(s).", "properties": {"url": {"type": "string"}}, "type": "object"}, "AuditConfig": {"description": "Specifies the audit configuration for a service.\nThe configuration determines which permission types are logged, and what\nidentities, if any, are exempted from logging.\nAn AuditConfig must have one or more AuditLogConfigs.\n\nIf there are AuditConfigs for both `allServices` and a specific service,\nthe union of the two AuditConfigs is used for that service: the log_types\nspecified in each AuditConfig are enabled, and the exempted_members in each\nAuditLogConfig are exempted.\n\nExample Policy with multiple AuditConfigs:\n\n    {\n      \"audit_configs\": [\n        {\n          \"service\": \"allServices\"\n          \"audit_log_configs\": [\n            {\n              \"log_type\": \"DATA_READ\",\n              \"exempted_members\": [\n                \"user:jose@example.com\"\n              ]\n            },\n            {\n              \"log_type\": \"DATA_WRITE\",\n            },\n            {\n              \"log_type\": \"ADMIN_READ\",\n            }\n          ]\n        },\n        {\n          \"service\": \"sampleservice.googleapis.com\"\n          \"audit_log_configs\": [\n            {\n              \"log_type\": \"DATA_READ\",\n            },\n            {\n              \"log_type\": \"DATA_WRITE\",\n              \"exempted_members\": [\n                \"user:aliya@example.com\"\n              ]\n            }\n          ]\n        }\n      ]\n    }\n\nFor sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ\nlogging. It also exempts jose@example.com from DATA_READ logging, and\naliya@example.com from DATA_WRITE logging.", "properties": {"auditLogConfigs": {"description": "The configuration for logging of each type of permission.", "items": {"$ref": "#/components/schemas/AuditLogConfig"}, "type": "array"}, "service": {"description": "Specifies a service that will be enabled for audit logging.\nFor example, `storage.googleapis.com`, `cloudsql.googleapis.com`.\n`allServices` is a special value that covers all services.", "type": "string"}}, "type": "object"}, "AuditLogConfig": {"description": "Provides the configuration for logging a type of permissions.\nExample:\n\n    {\n      \"audit_log_configs\": [\n        {\n          \"log_type\": \"DATA_READ\",\n          \"exempted_members\": [\n            \"user:jose@example.com\"\n          ]\n        },\n        {\n          \"log_type\": \"DATA_WRITE\",\n        }\n      ]\n    }\n\nThis enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting\njose@example.com from DATA_READ logging.", "properties": {"exemptedMembers": {"description": "Specifies the identities that do not cause logging for this type of\npermission.\nFollows the same format of Binding.members.", "items": {"type": "string"}, "type": "array"}, "logType": {"description": "The log type that this config enables.", "enum": ["LOG_TYPE_UNSPECIFIED", "ADMIN_READ", "DATA_WRITE", "DATA_READ"], "type": "string"}}, "type": "object"}, "AuthorizedDomain": {"description": "A domain that a user has been authorized to administer. To authorize use\nof a domain, verify ownership via\n[Webmaster Central](https://www.google.com/webmasters/verification/home).", "properties": {"id": {"description": "Relative name of the domain authorized for use. Example: `example.com`.", "type": "string"}, "name": {"description": "Read only. Full path to the `AuthorizedDomain` resource in the API.\nExample: `apps/myapp/authorizedDomains/example.com`.", "type": "string"}}, "type": "object"}, "Binding": {"description": "Associates `members` with a `role`.", "properties": {"condition": {"$ref": "#/components/schemas/Expr", "description": "The condition that is associated with this binding.\nNOTE: An unsatisfied condition will not allow user access via current\nbinding. Different bindings, including their conditions, are examined\nindependently."}, "members": {"description": "Specifies the identities requesting access for a Cloud Platform resource.\n`members` can have the following values:\n\n* `allUsers`: A special identifier that represents anyone who is\n   on the internet; with or without a Google account.\n\n* `allAuthenticatedUsers`: A special identifier that represents anyone\n   who is authenticated with a Google account or a service account.\n\n* `user:{emailid}`: An email address that represents a specific Google\n   account. For example, `alice@example.com` .\n\n\n* `serviceAccount:{emailid}`: An email address that represents a service\n   account. For example, `my-other-app@appspot.gserviceaccount.com`.\n\n* `group:{emailid}`: An email address that represents a Google group.\n   For example, `admins@example.com`.\n\n* `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique\n   identifier) representing a user that has been recently deleted. For\n   example, `alice@example.com?uid=123456789012345678901`. If the user is\n   recovered, this value reverts to `user:{emailid}` and the recovered user\n   retains the role in the binding.\n\n* `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus\n   unique identifier) representing a service account that has been recently\n   deleted. For example,\n   `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`.\n   If the service account is undeleted, this value reverts to\n   `serviceAccount:{emailid}` and the undeleted service account retains the\n   role in the binding.\n\n* `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique\n   identifier) representing a Google group that has been recently\n   deleted. For example, `admins@example.com?uid=123456789012345678901`. If\n   the group is recovered, this value reverts to `group:{emailid}` and the\n   recovered group retains the role in the binding.\n\n\n* `domain:{domain}`: The G Suite domain (primary) that represents all the\n   users of that domain. For example, `google.com` or `example.com`.\n\n", "items": {"type": "string"}, "type": "array"}, "role": {"description": "Role that is assigned to `members`.\nFor example, `roles/viewer`, `roles/editor`, or `roles/owner`.", "type": "string"}}, "type": "object"}, "ConfigMapEnvSource": {"description": "Cloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nConfigMapEnvSource selects a ConfigMap to populate the environment\nvariables with.\n\nThe contents of the target ConfigMap's Data field will represent the\nkey-value pairs as environment variables.", "properties": {"localObjectReference": {"$ref": "#/components/schemas/LocalObjectReference", "description": "This field should not be used directly as it is meant to be inlined\ndirectly into the message. Use the \"name\" field instead."}, "name": {"description": "Cloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nThe ConfigMap to select from.", "type": "string"}, "optional": {"description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nSpecify whether the ConfigMap must be defined", "type": "boolean"}}, "type": "object"}, "ConfigMapKeySelector": {"description": "Cloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nSelects a key from a ConfigMap.", "properties": {"key": {"description": "Cloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nThe key to select.", "type": "string"}, "localObjectReference": {"$ref": "#/components/schemas/LocalObjectReference", "description": "This field should not be used directly as it is meant to be inlined\ndirectly into the message. Use the \"name\" field instead."}, "name": {"description": "Cloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nThe ConfigMap to select from.", "type": "string"}, "optional": {"description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nSpecify whether the ConfigMap or its key must be defined", "type": "boolean"}}, "type": "object"}, "ConfigMapVolumeSource": {"description": "Cloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nAdapts a ConfigMap into a volume.\nThe contents of the target ConfigMap's Data field will be presented in a\nvolume as files using the keys in the Data field as the file names, unless\nthe items element is populated with specific mappings of keys to paths.", "properties": {"defaultMode": {"description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nMode bits to use on created files by default. Must be a value between 0 and\n0777. Defaults to 0644. Directories within the path are not affected by\nthis setting. This might be in conflict with other options that affect the\nfile mode, like fsGroup, and the result can be other mode bits set.", "format": "int32", "type": "integer"}, "items": {"description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nIf unspecified, each key-value pair in the Data field of the referenced\nSecret will be projected into the volume as a file whose name is the\nkey and content is the value. If specified, the listed keys will be\nprojected into the specified paths, and unlisted keys will not be\npresent. If a key is specified which is not present in the Secret,\nthe volume setup will error unless it is marked optional.", "items": {"$ref": "#/components/schemas/KeyToPath"}, "type": "array"}, "name": {"description": "Cloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nName of the config.", "type": "string"}, "optional": {"description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nSpecify whether the Secret or its keys must be defined.", "type": "boolean"}}, "type": "object"}, "Configuration": {"description": "Configuration represents the \"floating HEAD\" of a linear history of\nRevisions, and optionally how the containers those revisions reference are\nbuilt. Users create new Revisions by updating the Configuration's spec. The\n\"latest created\" revision's name is available under status, as is the \"latest\nready\" revision's name. See also:\nhttps://github.com/knative/serving/blob/master/docs/spec/overview.md#configuration", "properties": {"apiVersion": {"description": "The API version for this call such as \"serving.knative.dev/v1\".", "type": "string"}, "kind": {"description": "The kind of resource, in this case always \"Configuration\".", "type": "string"}, "metadata": {"$ref": "#/components/schemas/ObjectMeta", "description": "Metadata associated with this Configuration, including name, namespace,\nlabels, and annotations."}, "spec": {"$ref": "#/components/schemas/ConfigurationSpec", "description": "Spec holds the desired state of the Configuration (from the client)."}, "status": {"$ref": "#/components/schemas/ConfigurationStatus", "description": "Status communicates the observed state of the Configuration (from the\ncontroller)."}}, "type": "object"}, "ConfigurationSpec": {"description": "ConfigurationSpec holds the desired state of the Configuration (from the\nclient).", "properties": {"template": {"$ref": "#/components/schemas/RevisionTemplate", "description": "Optional metadata for this Revision, including labels and annotations. Name\nwill be generated by the Configuration.\nTo set minimum instances for this revision, use the\n\"autoscaling.knative.dev/minScale\" annotation key. (Cloud Run for Anthos\nonly). To set maximum instances for this revision, use the\n\"autoscaling.knative.dev/maxScale\" annotation key.\nTo set Cloud SQL connections for the revision, use the\n\"run.googleapis.com/cloudsql-instances\" annotation key. Values should be\ncomma separated."}}, "type": "object"}, "ConfigurationStatus": {"description": "ConfigurationStatus communicates the observed state of the Configuration\n(from the controller).", "properties": {"conditions": {"description": "Conditions communicates information about ongoing/complete\nreconciliation processes that bring the \"spec\" inline with the observed\nstate of the world.", "items": {"$ref": "#/components/schemas/GoogleCloudRunV1Condition"}, "type": "array"}, "latestCreatedRevisionName": {"description": "LatestCreatedRevisionName is the last revision that was created from this\nConfiguration. It might not be ready yet, for that use\nLatestReadyRevisionName.", "type": "string"}, "latestReadyRevisionName": {"description": "LatestReadyRevisionName holds the name of the latest Revision stamped out\nfrom this Configuration that has had its \"Ready\" condition become \"True\".", "type": "string"}, "observedGeneration": {"description": "ObservedGeneration is the 'Generation' of the Configuration that\nwas last processed by the controller. The observed generation is updated\neven if the controller failed to process the spec and create the Revision.\n\nClients polling for completed reconciliation should poll until\nobservedGeneration = metadata.generation, and the Ready condition's status\nis True or False.", "format": "int32", "type": "integer"}}, "type": "object"}, "Container": {"description": "A single application container.\nThis specifies both the container to run, the command to run in the container\nand the arguments to supply to it.\nNote that additional arguments may be supplied by the system to the container\nat runtime.", "properties": {"args": {"description": "(Optional)\n\nCloud Run fully managed: supported\n\nCloud Run for Anthos: supported\n\nArguments to the entrypoint.\nThe docker image's CMD is used if this is not provided.\nVariable references $(VAR_NAME) are expanded using the container's\nenvironment. If a variable cannot be resolved, the reference in the input\nstring will be unchanged. The $(VAR_NAME) syntax can be escaped with a\ndouble $$, ie: $$(VAR_NAME). Escaped references will never be expanded,\nregardless of whether the variable exists or not.\nMore info:\nhttps://kubernetes.io/docs/tasks/inject-data-application/define-command-argument-container/#running-a-command-in-a-shell", "items": {"type": "string"}, "type": "array"}, "command": {"items": {"type": "string"}, "type": "array"}, "env": {"description": "(Optional)\n\nCloud Run fully managed: supported\n\nCloud Run for Anthos: supported\n\nList of environment variables to set in the container.", "items": {"$ref": "#/components/schemas/EnvVar"}, "type": "array"}, "envFrom": {"description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nList of sources to populate environment variables in the container.\nThe keys defined within a source must be a C_IDENTIFIER. All invalid keys\nwill be reported as an event when the container is starting. When a key\nexists in multiple sources, the value associated with the last source will\ntake precedence. Values defined by an Env with a duplicate key will take\nprecedence. Cannot be updated.", "items": {"$ref": "#/components/schemas/EnvFromSource"}, "type": "array"}, "image": {"description": "Cloud Run fully managed: only supports containers from Google Container\nRegistry\n\nCloud Run for Anthos: supported\n\nURL of the Container image.\nMore info: https://kubernetes.io/docs/concepts/containers/images", "type": "string"}, "imagePullPolicy": {"description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nImage pull policy.\nOne of Always, Never, IfNotPresent.\nDefaults to Always if :latest tag is specified, or IfNotPresent otherwise.\nMore info:\nhttps://kubernetes.io/docs/concepts/containers/images#updating-images", "type": "string"}, "livenessProbe": {"$ref": "#/components/schemas/Probe", "description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nPeriodic probe of container liveness.\nContainer will be restarted if the probe fails.\nMore info:\nhttps://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#container-probes"}, "name": {"description": "(Optional)\n\nName of the container specified as a DNS_LABEL.", "type": "string"}, "ports": {"description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nList of ports to expose from the container. Exposing a port here gives\nthe system additional information about the network connections a\ncontainer uses, but is primarily informational. Not specifying a port here\nDOES NOT prevent that port from being exposed. Any port which is\nlistening on the default \"0.0.0.0\" address inside a container will be\naccessible from the network.", "items": {"$ref": "#/components/schemas/ContainerPort"}, "type": "array"}, "readinessProbe": {"$ref": "#/components/schemas/Probe", "description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nPeriodic probe of container service readiness.\nContainer will be removed from service endpoints if the probe fails.\nMore info:\nhttps://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#container-probes"}, "resources": {"$ref": "#/components/schemas/ResourceRequirements", "description": "(Optional)\n\nCloud Run fully managed: supported\n\nCloud Run for Anthos: supported\n\nCompute Resources required by this container.\nMore info:\nhttps://kubernetes.io/docs/concepts/storage/persistent-volumes#resources"}, "securityContext": {"$ref": "#/components/schemas/SecurityContext", "description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nSecurity options the pod should run with.\nMore info: https://kubernetes.io/docs/concepts/policy/security-context/\nMore info:\nhttps://kubernetes.io/docs/tasks/configure-pod-container/security-context/"}, "terminationMessagePath": {"description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nPath at which the file to which the container's termination\nmessage will be written is mounted into the container's filesystem. Message\nwritten is intended to be brief final status, such as an assertion failure\nmessage. Will be truncated by the node if greater than 4096 bytes. The\ntotal message length across all containers will be limited to 12kb.\nDefaults to /dev/termination-log.", "type": "string"}, "terminationMessagePolicy": {"description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nIndicate how the termination message should be populated. File will use the\ncontents of terminationMessagePath to populate the container status message\non both success and failure. FallbackToLogsOnError will use the last chunk\nof container log output if the termination message file is empty and the\ncontainer exited with an error. The log output is limited to 2048 bytes or\n80 lines, whichever is smaller. Defaults to File. Cannot be updated.", "type": "string"}, "volumeMounts": {"description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nPod volumes to mount into the container's filesystem.", "items": {"$ref": "#/components/schemas/VolumeMount"}, "type": "array"}, "workingDir": {"description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nContainer's working directory.\nIf not specified, the container runtime's default will be used, which\nmight be configured in the container image.", "type": "string"}}, "type": "object"}, "ContainerPort": {"description": "Cloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nContainerPort represents a network port in a single container.", "properties": {"containerPort": {"description": "(Optional)\n\nCloud Run fully managed: supported\n\nCloud Run for Anthos: supported\n\nPort number the container listens on.\nThis must be a valid port number, 0 < x < 65536.", "format": "int32", "type": "integer"}, "name": {"description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nIf specified, used to specify which protocol to use.\nAllowed values are \"http1\" and \"h2c\".", "type": "string"}, "protocol": {"description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nProtocol for port. Must be TCP.\nDefaults to \"TCP\".", "type": "string"}}, "type": "object"}, "DomainMapping": {"description": "Resource to hold the state and status of a user's domain mapping.", "properties": {"apiVersion": {"description": "The API version for this call such as \"domains.cloudrun.com/v1\".", "type": "string"}, "kind": {"description": "The kind of resource, in this case \"DomainMapping\".", "type": "string"}, "metadata": {"$ref": "#/components/schemas/ObjectMeta", "description": "Metadata associated with this BuildTemplate."}, "spec": {"$ref": "#/components/schemas/DomainMappingSpec", "description": "The spec for this DomainMapping."}, "status": {"$ref": "#/components/schemas/DomainMappingStatus", "description": "The current status of the DomainMapping."}}, "type": "object"}, "DomainMappingSpec": {"description": "The desired state of the Domain Mapping.", "properties": {"certificateMode": {"description": "The mode of the certificate.", "enum": ["CERTIFICATE_MODE_UNSPECIFIED", "NONE", "AUTOMATIC"], "type": "string"}, "forceOverride": {"description": "If set, the mapping will override any mapping set before this spec was set.\nIt is recommended that the user leaves this empty to receive an error\nwarning about a potential conflict and only set it once the respective UI\nhas given such a warning.", "type": "boolean"}, "routeName": {"description": "The name of the Knative Route that this DomainMapping applies to.\nThe route must exist.", "type": "string"}}, "type": "object"}, "DomainMappingStatus": {"description": "The current state of the Domain Mapping.", "properties": {"conditions": {"description": "Array of observed DomainMappingConditions, indicating the current state\nof the DomainMapping.", "items": {"$ref": "#/components/schemas/GoogleCloudRunV1Condition"}, "type": "array"}, "mappedRouteName": {"description": "The name of the route that the mapping currently points to.", "type": "string"}, "observedGeneration": {"description": "ObservedGeneration is the 'Generation' of the DomainMapping that\nwas last processed by the controller.\n\nClients polling for completed reconciliation should poll until\nobservedGeneration = metadata.generation and the Ready condition's status\nis True or False.", "format": "int32", "type": "integer"}, "resourceRecords": {"description": "The resource records required to configure this domain mapping. These\nrecords must be added to the domain's DNS configuration in order to\nserve the application via this domain mapping.", "items": {"$ref": "#/components/schemas/ResourceRecord"}, "type": "array"}}, "type": "object"}, "EnvFromSource": {"description": "Cloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nEnvFromSource represents the source of a set of ConfigMaps", "properties": {"configMapRef": {"$ref": "#/components/schemas/ConfigMapEnvSource", "description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nThe ConfigMap to select from"}, "prefix": {"description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nAn optional identifier to prepend to each key in the ConfigMap. Must be a\nC_IDENTIFIER.", "type": "string"}, "secretRef": {"$ref": "#/components/schemas/SecretEnvSource", "description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nThe Secret to select from"}}, "type": "object"}, "EnvVar": {"description": "EnvVar represents an environment variable present in a Container.", "properties": {"name": {"description": "Name of the environment variable. Must be a C_IDENTIFIER.", "type": "string"}, "value": {"description": "(Optional)\n\nVariable references $(VAR_NAME) are expanded\nusing the previous defined environment variables in the container and\nany route environment variables. If a variable cannot be resolved,\nthe reference in the input string will be unchanged. The $(VAR_NAME)\nsyntax can be escaped with a double $$, ie: $$(VAR_NAME). Escaped\nreferences will never be expanded, regardless of whether the variable\nexists or not.\nDefaults to \"\".", "type": "string"}, "valueFrom": {"$ref": "#/components/schemas/EnvVarSource", "description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nSource for the environment variable's value. Cannot be used if value is not\nempty."}}, "type": "object"}, "EnvVarSource": {"description": "Cloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nEnvVarSource represents a source for the value of an EnvVar.", "properties": {"configMapKeyRef": {"$ref": "#/components/schemas/ConfigMapKeySelector", "description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nSelects a key of a ConfigMap."}, "secretKeyRef": {"$ref": "#/components/schemas/SecretKeySelector", "description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nSelects a key of a secret in the pod's namespace"}}, "type": "object"}, "ExecAction": {"description": "Cloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nExecAction describes a \"run in container\" action.", "properties": {"command": {"description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nCommand is the command line to execute inside the container, the working\ndirectory for the command  is root ('/') in the container's filesystem. The\ncommand is simply exec'd, it is not run inside a shell, so traditional\nshell instructions ('|', etc) won't work. To use a shell, you need to\nexplicitly call out to that shell. Exit status of 0 is treated as\nlive/healthy and non-zero is unhealthy.", "type": "string"}}, "type": "object"}, "Expr": {"description": "Represents an expression text. Example:\n\n    title: \"User account presence\"\n    description: \"Determines whether the request has a user account\"\n    expression: \"size(request.user) > 0\"", "properties": {"description": {"description": "An optional description of the expression. This is a longer text which\ndescribes the expression, e.g. when hovered over it in a UI.", "type": "string"}, "expression": {"description": "Textual representation of an expression in\nCommon Expression Language syntax.\n\nThe application context of the containing message determines which\nwell-known feature set of CEL is supported.", "type": "string"}, "location": {"description": "An optional string indicating the location of the expression for error\nreporting, e.g. a file name and a position in the file.", "type": "string"}, "title": {"description": "An optional title for the expression, i.e. a short string describing\nits purpose. This can be used e.g. in UIs which allow to enter the\nexpression.", "type": "string"}}, "type": "object"}, "GoogleCloudRunV1Condition": {"description": "Condition defines a generic condition for a Resource", "properties": {"lastTransitionTime": {"description": "Optional. Last time the condition transitioned from one status to another.", "format": "google-datetime", "type": "string"}, "message": {"description": "Optional. Human readable message indicating details about the current status.", "type": "string"}, "reason": {"description": "Optional. One-word CamelCase reason for the condition's last transition.", "type": "string"}, "severity": {"description": "Optional. How to interpret failures of this condition, one of Error, Warning, Info", "type": "string"}, "status": {"description": "Status of the condition, one of True, False, Unknown.", "type": "string"}, "type": {"description": "type is used to communicate the status of the reconciliation process.\nSee also:\nhttps://github.com/knative/serving/blob/master/docs/spec/errors.md#error-conditions-and-reporting\nTypes common to all resources include:\n* \"Ready\": True when the Resource is ready.", "type": "string"}}, "type": "object"}, "HTTPGetAction": {"description": "Cloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nHTTPGetAction describes an action based on HTTP Get requests.", "properties": {"host": {"description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nHost name to connect to, defaults to the pod IP. You probably want to set\n\"Host\" in httpHeaders instead.", "type": "string"}, "httpHeaders": {"description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nCustom headers to set in the request. HTTP allows repeated headers.", "items": {"$ref": "#/components/schemas/HTTPHeader"}, "type": "array"}, "path": {"description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nPath to access on the HTTP server.", "type": "string"}, "scheme": {"description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nScheme to use for connecting to the host.\nDefaults to HTTP.", "type": "string"}}, "type": "object"}, "HTTPHeader": {"description": "Cloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nHTTPHeader describes a custom header to be used in HTTP probes", "properties": {"name": {"description": "Cloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nThe header field name", "type": "string"}, "value": {"description": "Cloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nThe header field value", "type": "string"}}, "type": "object"}, "Handler": {"description": "Cloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nHandler defines a specific action that should be taken", "properties": {"exec": {"$ref": "#/components/schemas/ExecAction", "description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nOne and only one of the following should be specified.\nExec specifies the action to take."}, "httpGet": {"$ref": "#/components/schemas/HTTPGetAction", "description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nHTTPGet specifies the http request to perform."}, "tcpSocket": {"$ref": "#/components/schemas/TCPSocketAction", "description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nTCPSocket specifies an action involving a TCP port.\nTCP hooks not yet supported"}}, "type": "object"}, "IntOrString": {"description": "IntOrString is a type that can hold an int32 or a string.  When used in\nJSON or YAML marshalling and unmarshalling, it produces or consumes the\ninner type.  This allows you to have, for example, a JSON field that can\naccept a name or number.", "properties": {"intVal": {"description": "The int value.", "format": "int32", "type": "integer"}, "strVal": {"description": "The string value.", "type": "string"}, "type": {"description": "The type of the value.", "format": "int32", "type": "integer"}}, "type": "object"}, "KeyToPath": {"description": "Cloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nMaps a string key to a path within a volume.", "properties": {"key": {"description": "Cloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nThe key to project.", "type": "string"}, "mode": {"description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nMode bits to use on this file, must be a value between 0 and 0777. If not\nspecified, the volume defaultMode will be used. This might be in conflict\nwith other options that affect the file mode, like fsGroup, and the result\ncan be other mode bits set.", "format": "int32", "type": "integer"}, "path": {"description": "Cloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nThe relative path of the file to map the key to.\nMay not be an absolute path.\nMay not contain the path element '..'.\nMay not start with the string '..'.", "type": "string"}}, "type": "object"}, "ListAuthorizedDomainsResponse": {"description": "A list of Authorized Domains.", "properties": {"domains": {"description": "The authorized domains belonging to the user.", "items": {"$ref": "#/components/schemas/AuthorizedDomain"}, "type": "array"}, "nextPageToken": {"description": "Continuation token for fetching the next page of results.", "type": "string"}}, "type": "object"}, "ListConfigurationsResponse": {"description": "ListConfigurationsResponse is a list of Configuration resources.", "properties": {"apiVersion": {"description": "The API version for this call such as \"serving.knative.dev/v1\".", "type": "string"}, "items": {"description": "List of Configurations.", "items": {"$ref": "#/components/schemas/Configuration"}, "type": "array"}, "kind": {"description": "The kind of this resource, in this case \"ConfigurationList\".", "type": "string"}, "metadata": {"$ref": "#/components/schemas/ListMeta", "description": "Metadata associated with this Configuration list."}, "unreachable": {"description": "Locations that could not be reached.", "items": {"type": "string"}, "type": "array"}}, "type": "object"}, "ListDomainMappingsResponse": {"description": "ListDomainMappingsResponse is a list of DomainMapping resources.", "properties": {"apiVersion": {"description": "The API version for this call such as \"domains.cloudrun.com/v1\".", "type": "string"}, "items": {"description": "List of DomainMappings.", "items": {"$ref": "#/components/schemas/DomainMapping"}, "type": "array"}, "kind": {"description": "The kind of this resource, in this case \"DomainMappingList\".", "type": "string"}, "metadata": {"$ref": "#/components/schemas/ListMeta", "description": "Metadata associated with this DomainMapping list."}, "unreachable": {"description": "Locations that could not be reached.", "items": {"type": "string"}, "type": "array"}}, "type": "object"}, "ListLocationsResponse": {"description": "The response message for Locations.ListLocations.", "properties": {"locations": {"description": "A list of locations that matches the specified filter in the request.", "items": {"$ref": "#/components/schemas/Location"}, "type": "array"}, "nextPageToken": {"description": "The standard List next-page token.", "type": "string"}}, "type": "object"}, "ListMeta": {"description": "ListMeta describes metadata that synthetic resources must have, including\nlists and various status objects. A resource may have only one of\n{ObjectMeta, ListMeta}.", "properties": {"continue": {"description": "continue may be set if the user set a limit on the number of items\nreturned, and indicates that the server has more data available. The value\nis opaque and may be used to issue another request to the endpoint that\nserved this list to retrieve the next set of available objects. Continuing\na list may not be possible if the server configuration has changed or more\nthan a few minutes have passed. The resourceVersion field returned when\nusing this continue value will be identical to the value in the first\nresponse.", "type": "string"}, "resourceVersion": {"description": "String that identifies the server's internal version of this object that\ncan be used by clients to determine when objects have changed. Value must\nbe treated as opaque by clients and passed unmodified back to the server.\nPopulated by the system.\nRead-only.\nMore info:\nhttps://git.k8s.io/community/contributors/devel/api-conventions.md#concurrency-control-and-consistency\n+optional", "type": "string"}, "selfLink": {"description": "SelfLink is a URL representing this object.\nPopulated by the system.\nRead-only.\n+optional", "type": "string"}}, "type": "object"}, "ListRevisionsResponse": {"description": "ListRevisionsResponse is a list of Revision resources.", "properties": {"apiVersion": {"description": "The API version for this call such as \"serving.knative.dev/v1\".", "type": "string"}, "items": {"description": "List of Revisions.", "items": {"$ref": "#/components/schemas/Revision"}, "type": "array"}, "kind": {"description": "The kind of this resource, in this case \"RevisionList\".", "type": "string"}, "metadata": {"$ref": "#/components/schemas/ListMeta", "description": "Metadata associated with this revision list."}, "unreachable": {"description": "Locations that could not be reached.", "items": {"type": "string"}, "type": "array"}}, "type": "object"}, "ListRoutesResponse": {"description": "ListRoutesResponse is a list of Route resources.", "properties": {"apiVersion": {"description": "The API version for this call such as \"serving.knative.dev/v1\".", "type": "string"}, "items": {"description": "List of Routes.", "items": {"$ref": "#/components/schemas/Route"}, "type": "array"}, "kind": {"description": "The kind of this resource, in this case always \"RouteList\".", "type": "string"}, "metadata": {"$ref": "#/components/schemas/ListMeta", "description": "Metadata associated with this Route list."}, "unreachable": {"description": "Locations that could not be reached.", "items": {"type": "string"}, "type": "array"}}, "type": "object"}, "ListServicesResponse": {"description": "A list of Service resources.", "properties": {"apiVersion": {"description": "The API version for this call such as \"serving.knative.dev/v1\".", "type": "string"}, "items": {"description": "List of Services.", "items": {"$ref": "#/components/schemas/Service"}, "type": "array"}, "kind": {"description": "The kind of this resource, in this case \"ServiceList\".", "type": "string"}, "metadata": {"$ref": "#/components/schemas/ListMeta", "description": "Metadata associated with this Service list."}, "unreachable": {"description": "Locations that could not be reached.", "items": {"type": "string"}, "type": "array"}}, "type": "object"}, "LocalObjectReference": {"description": "Cloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nLocalObjectReference contains enough information to let you locate the\nreferenced object inside the same namespace.", "properties": {"name": {"description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nName of the referent.\nMore info:\nhttps://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names", "type": "string"}}, "type": "object"}, "Location": {"description": "A resource that represents Google Cloud Platform location.", "properties": {"displayName": {"description": "The friendly name for this location, typically a nearby city name.\nFor example, \"Tokyo\".", "type": "string"}, "labels": {"additionalProperties": {"type": "string"}, "description": "Cross-service attributes for the location. For example\n\n    {\"cloud.googleapis.com/region\": \"us-east1\"}", "type": "object"}, "locationId": {"description": "The canonical id for this location. For example: `\"us-east1\"`.", "type": "string"}, "metadata": {"additionalProperties": {"description": "Properties of the object. Contains field @type with type URL."}, "description": "Service-specific metadata. For example the available capacity at the given\nlocation.", "type": "object"}, "name": {"description": "Resource name for the location, which may vary between implementations.\nFor example: `\"projects/example-project/locations/us-east1\"`", "type": "string"}}, "type": "object"}, "ObjectMeta": {"description": "k8s.io.apimachinery.pkg.apis.meta.v1.ObjectMeta is metadata that all\npersisted resources must have, which includes all objects users must create.", "properties": {"annotations": {"additionalProperties": {"type": "string"}, "description": "(Optional)\n\nAnnotations is an unstructured key value map stored with a resource that\nmay be set by external tools to store and retrieve arbitrary metadata. They\nare not queryable and should be preserved when modifying objects. More\ninfo: http://kubernetes.io/docs/user-guide/annotations", "type": "object"}, "clusterName": {"description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nThe name of the cluster which the object belongs to.\nThis is used to distinguish resources with same name and namespace in\ndifferent clusters. This field is not set anywhere right now and apiserver\nis going to ignore it if set in create or update request.", "type": "string"}, "creationTimestamp": {"description": "(Optional)\n\nCreationTimestamp is a timestamp representing the server time when this\nobject was created. It is not guaranteed to be set in happens-before order\nacross separate operations. Clients may not set this value. It is\nrepresented in RFC3339 form and is in UTC.\n\nPopulated by the system.\nRead-only.\nNull for lists.\nMore info:\nhttps://git.k8s.io/community/contributors/devel/api-conventions.md#metadata", "format": "google-datetime", "type": "string"}, "deletionGracePeriodSeconds": {"description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nNumber of seconds allowed for this object to gracefully terminate before\nit will be removed from the system. Only set when deletionTimestamp is also\nset. May only be shortened. Read-only.", "format": "int32", "type": "integer"}, "deletionTimestamp": {"description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nDeletionTimestamp is RFC 3339 date and time at which this resource will be\ndeleted. This field is set by the server when a graceful deletion is\nrequested by the user, and is not directly settable by a client. The\nresource is expected to be deleted (no longer visible from resource lists,\nand not reachable by name) after the time in this field, once the\nfinalizers list is empty. As long as the finalizers list contains items,\ndeletion is blocked. Once the deletionTimestamp is set, this value may not\nbe unset or be set further into the future, although it may be shortened or\nthe resource may be deleted prior to this time. For example, a user may\nrequest that a pod is deleted in 30 seconds. The Kubelet will react by\nsending a graceful termination signal to the containers in the pod. After\nthat 30 seconds, the Kubelet will send a hard termination signal (SIGKILL)\nto the container and after cleanup, remove the pod from the API. In the\npresence of network partitions, this object may still exist after this\ntimestamp, until an administrator or automated process can determine the\nresource is fully terminated.\nIf not set, graceful deletion of the object has not been requested.\n\nPopulated by the system when a graceful deletion is requested.\nRead-only.\nMore info:\nhttps://git.k8s.io/community/contributors/devel/api-conventions.md#metadata", "format": "google-datetime", "type": "string"}, "finalizers": {"description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nMust be empty before the object is deleted from the registry. Each entry\nis an identifier for the responsible component that will remove the entry\nfrom the list. If the deletionTimestamp of the object is non-nil, entries\nin this list can only be removed.\n+patchStrategy=merge", "items": {"type": "string"}, "type": "array"}, "generateName": {"description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nGenerateName is an optional prefix, used by the server, to generate a\nunique name ONLY IF the Name field has not been provided. If this field is\nused, the name returned to the client will be different than the name\npassed. This value will also be combined with a unique suffix. The provided\nvalue has the same validation rules as the Name field, and may be truncated\nby the length of the suffix required to make the value unique on the\nserver.\n\nIf this field is specified and the generated name exists, the server will\nNOT return a 409 - instead, it will either return 201 Created or 500 with\nReason ServerTimeout indicating a unique name could not be found in the\ntime allotted, and the client should retry (optionally after the time\nindicated in the Retry-After header).\n\nApplied only if Name is not specified.\nMore info:\nhttps://git.k8s.io/community/contributors/devel/api-conventions.md#idempotency\n string generateName = 2;", "type": "string"}, "generation": {"description": "(Optional)\n\nA sequence number representing a specific generation of the desired state.\nPopulated by the system. Read-only.", "format": "int32", "type": "integer"}, "labels": {"additionalProperties": {"type": "string"}, "description": "(Optional)\n\nMap of string keys and values that can be used to organize and categorize\n(scope and select) objects. May match selectors of replication controllers\nand routes.\nMore info: http://kubernetes.io/docs/user-guide/labels", "type": "object"}, "name": {"description": "Name must be unique within a namespace, within a Cloud Run region.\nIs required when creating\nresources, although some resources may allow a client to request the\ngeneration of an appropriate name automatically. Name is primarily intended\nfor creation idempotence and configuration definition. Cannot be updated.\nMore info: http://kubernetes.io/docs/user-guide/identifiers#names\n+optional", "type": "string"}, "namespace": {"description": "Namespace defines the space within each name must be unique, within a\nCloud Run region. In Cloud Run the namespace must be equal to either the\nproject ID or project number.", "type": "string"}, "ownerReferences": {"description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nList of objects that own this object. If ALL objects in the list have\nbeen deleted, this object will be garbage collected.", "items": {"$ref": "#/components/schemas/OwnerReference"}, "type": "array"}, "resourceVersion": {"description": "(Optional)\n\nAn opaque value that represents the internal version of this object that\ncan be used by clients to determine when objects have changed. May be used\nfor optimistic concurrency, change detection, and the watch operation on a\nresource or set of resources. Clients must treat these values as opaque and\npassed unmodified back to the server. They may only be valid for a\nparticular resource or set of resources.\n\nPopulated by the system.\nRead-only.\nValue must be treated as opaque by clients and .\nMore info:\nhttps://git.k8s.io/community/contributors/devel/api-conventions.md#concurrency-control-and-consistency", "type": "string"}, "selfLink": {"description": "(Optional)\n\nSelfLink is a URL representing this object.\nPopulated by the system.\nRead-only.\n string selfLink = 4;", "type": "string"}, "uid": {"description": "(Optional)\n\nUID is the unique in time and space value for this object. It is typically\ngenerated by the server on successful creation of a resource and is not\nallowed to change on PUT operations.\n\nPopulated by the system.\nRead-only.\nMore info: http://kubernetes.io/docs/user-guide/identifiers#uids", "type": "string"}}, "type": "object"}, "OwnerReference": {"description": "OwnerReference contains enough information to let you identify an owning\nobject. Currently, an owning object must be in the same namespace, so there\nis no namespace field.", "properties": {"apiVersion": {"description": "API version of the referent.", "type": "string"}, "blockOwnerDeletion": {"description": "If true, AND if the owner has the \"foregroundDeletion\" finalizer, then\nthe owner cannot be deleted from the key-value store until this\nreference is removed.\nDefaults to false.\nTo set this field, a user needs \"delete\" permission of the owner,\notherwise 422 (Unprocessable Entity) will be returned.\n+optional", "type": "boolean"}, "controller": {"description": "If true, this reference points to the managing controller.\n+optional", "type": "boolean"}, "kind": {"description": "Kind of the referent.\nMore info:\nhttps://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds", "type": "string"}, "name": {"description": "Name of the referent.\nMore info: http://kubernetes.io/docs/user-guide/identifiers#names", "type": "string"}, "uid": {"description": "UID of the referent.\nMore info: http://kubernetes.io/docs/user-guide/identifiers#uids", "type": "string"}}, "type": "object"}, "Policy": {"description": "An Identity and Access Management (IAM) policy, which specifies access\ncontrols for Google Cloud resources.\n\n\nA `Policy` is a collection of `bindings`. A `binding` binds one or more\n`members` to a single `role`. Members can be user accounts, service accounts,\nGoogle groups, and domains (such as G Suite). A `role` is a named list of\npermissions; each `role` can be an IAM predefined role or a user-created\ncustom role.\n\nOptionally, a `binding` can specify a `condition`, which is a logical\nexpression t
[...]
