{"openapi": "3.0.0", "servers": [{"url": "https://dialogflow.googleapis.com/"}], "info": {"contact": {"name": "Google", "url": "https://google.com"}, "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).", "license": {"name": "Creative Commons Attribution 3.0", "url": "http://creativecommons.org/licenses/by/3.0/"}, "termsOfService": "https://developers.google.com/terms/", "title": "Dialogflow", "version": "v2", "x-apiClientRegistration": {"url": "https://console.developers.google.com"}, "x-logo": {"url": "https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png"}, "x-origin": [{"converter": {"url": "https://github.com/lucybot/api-spec-converter", "version": "2.7.31"}, "format": "google", "url": "https://dialogflow.googleapis.com/$discovery/rest?version=v2", "version": "v1"}], "x-preferred": true, "x-providerName": "googleapis.com", "x-serviceName": "dialogflow"}, "externalDocs": {"url": "https://cloud.google.com/dialogflow/"}, "tags": [{"name": "projects"}], "paths": {"/v2/{name}": {"delete": {"description": "Deletes the specified context.", "operationId": "dialogflow.projects.agent.sessions.contexts.delete", "parameters": [{"description": "Required. The name of the context to delete. Format:\n`projects/<Project ID>/agent/sessions/<Session ID>/contexts/<Context ID>`.", "in": "path", "name": "name", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}], "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/GoogleProtobufEmpty"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}, {"Oauth2": ["https://www.googleapis.com/auth/dialogflow"], "Oauth2c": ["https://www.googleapis.com/auth/dialogflow"]}], "tags": ["projects"]}, "get": {"description": "Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice.", "operationId": "dialogflow.projects.locations.operations.get", "parameters": [{"description": "The name of the operation resource.", "in": "path", "name": "name", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}, {"description": "Optional. The language to retrieve entity synonyms for. If not specified,\nthe agent's default language is used.\n[Many\nlanguages](https://cloud.google.com/dialogflow/docs/reference/language)\nare supported. Note: languages must be enabled in the agent before they can\nbe used.", "in": "query", "name": "languageCode", "schema": {"enum": ["INTENT_VIEW_UNSPECIFIED", "INTENT_VIEW_FULL"], "type": "string"}}, {"description": "Optional. The language to retrieve training phrases, parameters and rich\nmessages for. If not specified, the agent's default language is used.\n[Many\nlanguages](https://cloud.google.com/dialogflow/docs/reference/language)\nare supported. Note: languages must be enabled in the agent before they can\nbe used.", "in": "query", "name": "languageCode", "schema": {"type": "string"}}], "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/GoogleLongrunningOperation"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}, {"Oauth2": ["https://www.googleapis.com/auth/dialogflow"], "Oauth2c": ["https://www.googleapis.com/auth/dialogflow"]}], "tags": ["projects"]}, "parameters": [{"$ref": "#/components/parameters/key"}, {"$ref": "#/components/parameters/access_token"}, {"$ref": "#/components/parameters/upload_protocol"}, {"$ref": "#/components/parameters/prettyPrint"}, {"$ref": "#/components/parameters/quotaUser"}, {"$ref": "#/components/parameters/uploadType"}, {"$ref": "#/components/parameters/fields"}, {"$ref": "#/components/parameters/_.xgafv"}, {"$ref": "#/components/parameters/oauth_token"}, {"$ref": "#/components/parameters/callback"}, {"$ref": "#/components/parameters/alt"}], "patch": {"description": "Updates the specified context.", "operationId": "dialogflow.projects.agent.sessions.contexts.patch", "parameters": [{"description": "Required. The unique identifier of the context. Format:\n`projects/<Project ID>/agent/sessions/<Session ID>/contexts/<Context ID>`.\n\nThe `Context ID` is always converted to lowercase, may only contain\ncharacters in [a-zA-Z0-9_-%] and may be at most 250 bytes long.", "in": "path", "name": "name", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}, {"description": "Optional. The mask to control which fields get updated.", "in": "query", "name": "updateMask", "schema": {"enum": ["INTENT_VIEW_UNSPECIFIED", "INTENT_VIEW_FULL"], "type": "string"}}, {"description": "Optional. The mask to control which fields get updated.", "in": "query", "name": "updateMask", "schema": {"type": "string"}}, {"description": "Optional. The mask to control which fields get updated.", "in": "query", "name": "updateMask", "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2Context"}}}}, "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2Context"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}, {"Oauth2": ["https://www.googleapis.com/auth/dialogflow"], "Oauth2c": ["https://www.googleapis.com/auth/dialogflow"]}], "tags": ["projects"]}}, "/v2/{name}/operations": {"get": {"description": "Lists operations that match the specified filter in the request. If the\nserver doesn't support this method, it returns `UNIMPLEMENTED`.\n\nNOTE: the `name` binding allows API services to override the binding\nto use different resource name schemes, such as `users/*/operations`. To\noverride the binding, API services can add a binding such as\n`\"/v1/{name=users/*}/operations\"` to their service configuration.\nFor backwards compatibility, the default name includes the operations\ncollection id, however overriding users must ensure the name binding\nis the parent resource, without the operations collection id.", "operationId": "dialogflow.projects.locations.operations.list", "parameters": [{"description": "The name of the operation's parent resource.", "in": "path", "name": "name", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}, {"description": "The standard list filter.", "in": "query", "name": "filter", "schema": {"type": "string"}}, {"description": "The standard list page size.", "in": "query", "name": "pageSize", "schema": {"type": "integer"}}, {"description": "The standard list page token.", "in": "query", "name": "pageToken", "schema": {"type": "string"}}], "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/GoogleLongrunningListOperationsResponse"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}, {"Oauth2": ["https://www.googleapis.com/auth/dialogflow"], "Oauth2c": ["https://www.googleapis.com/auth/dialogflow"]}], "tags": ["projects"]}, "parameters": [{"$ref": "#/components/parameters/key"}, {"$ref": "#/components/parameters/access_token"}, {"$ref": "#/components/parameters/upload_protocol"}, {"$ref": "#/components/parameters/prettyPrint"}, {"$ref": "#/components/parameters/quotaUser"}, {"$ref": "#/components/parameters/uploadType"}, {"$ref": "#/components/parameters/fields"}, {"$ref": "#/components/parameters/_.xgafv"}, {"$ref": "#/components/parameters/oauth_token"}, {"$ref": "#/components/parameters/callback"}, {"$ref": "#/components/parameters/alt"}]}, "/v2/{name}:cancel": {"parameters": [{"$ref": "#/components/parameters/key"}, {"$ref": "#/components/parameters/access_token"}, {"$ref": "#/components/parameters/upload_protocol"}, {"$ref": "#/components/parameters/prettyPrint"}, {"$ref": "#/components/parameters/quotaUser"}, {"$ref": "#/components/parameters/uploadType"}, {"$ref": "#/components/parameters/fields"}, {"$ref": "#/components/parameters/_.xgafv"}, {"$ref": "#/components/parameters/oauth_token"}, {"$ref": "#/components/parameters/callback"}, {"$ref": "#/components/parameters/alt"}], "post": {"description": "Starts asynchronous cancellation on a long-running operation.  The server\nmakes a best effort to cancel the operation, but success is not\nguaranteed.  If the server doesn't support this method, it returns\n`google.rpc.Code.UNIMPLEMENTED`.  Clients can use\nOperations.GetOperation or\nother methods to check whether the cancellation succeeded or whether the\noperation completed despite cancellation. On successful cancellation,\nthe operation is not deleted; instead, it becomes an operation with\nan Operation.error value with a google.rpc.Status.code of 1,\ncorresponding to `Code.CANCELLED`.", "operationId": "dialogflow.projects.locations.operations.cancel", "parameters": [{"description": "The name of the operation resource to be cancelled.", "in": "path", "name": "name", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}], "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/GoogleProtobufEmpty"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}, {"Oauth2": ["https://www.googleapis.com/auth/dialogflow"], "Oauth2c": ["https://www.googleapis.com/auth/dialogflow"]}], "tags": ["projects"]}}, "/v2/{parent}/agent": {"delete": {"description": "Deletes the specified agent.", "operationId": "dialogflow.projects.deleteAgent", "parameters": [{"description": "Required. The project that the agent to delete is associated with.\nFormat: `projects/<Project ID>`.", "in": "path", "name": "parent", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}], "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/GoogleProtobufEmpty"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}, {"Oauth2": ["https://www.googleapis.com/auth/dialogflow"], "Oauth2c": ["https://www.googleapis.com/auth/dialogflow"]}], "tags": ["projects"]}, "get": {"description": "Retrieves the specified agent.", "operationId": "dialogflow.projects.getAgent", "parameters": [{"description": "Required. The project that the agent to fetch is associated with.\nFormat: `projects/<Project ID>`.", "in": "path", "name": "parent", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}], "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2Agent"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}, {"Oauth2": ["https://www.googleapis.com/auth/dialogflow"], "Oauth2c": ["https://www.googleapis.com/auth/dialogflow"]}], "tags": ["projects"]}, "parameters": [{"$ref": "#/components/parameters/key"}, {"$ref": "#/components/parameters/access_token"}, {"$ref": "#/components/parameters/upload_protocol"}, {"$ref": "#/components/parameters/prettyPrint"}, {"$ref": "#/components/parameters/quotaUser"}, {"$ref": "#/components/parameters/uploadType"}, {"$ref": "#/components/parameters/fields"}, {"$ref": "#/components/parameters/_.xgafv"}, {"$ref": "#/components/parameters/oauth_token"}, {"$ref": "#/components/parameters/callback"}, {"$ref": "#/components/parameters/alt"}], "post": {"description": "Creates/updates the specified agent.", "operationId": "dialogflow.projects.agent", "parameters": [{"description": "Required. The project of this agent.\nFormat: `projects/<Project ID>`.", "in": "path", "name": "parent", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}, {"description": "Optional. The mask to control which fields get updated.", "in": "query", "name": "updateMask", "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2Agent"}}}}, "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2Agent"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}, {"Oauth2": ["https://www.googleapis.com/auth/dialogflow"], "Oauth2c": ["https://www.googleapis.com/auth/dialogflow"]}], "tags": ["projects"]}}, "/v2/{parent}/agent:export": {"parameters": [{"$ref": "#/components/parameters/key"}, {"$ref": "#/components/parameters/access_token"}, {"$ref": "#/components/parameters/upload_protocol"}, {"$ref": "#/components/parameters/prettyPrint"}, {"$ref": "#/components/parameters/quotaUser"}, {"$ref": "#/components/parameters/uploadType"}, {"$ref": "#/components/parameters/fields"}, {"$ref": "#/components/parameters/_.xgafv"}, {"$ref": "#/components/parameters/oauth_token"}, {"$ref": "#/components/parameters/callback"}, {"$ref": "#/components/parameters/alt"}], "post": {"description": "Exports the specified agent to a ZIP file.\n\nOperation <response: ExportAgentResponse>", "operationId": "dialogflow.projects.agent.export", "parameters": [{"description": "Required. The project that the agent to export is associated with.\nFormat: `projects/<Project ID>`.", "in": "path", "name": "parent", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2ExportAgentRequest"}}}}, "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/GoogleLongrunningOperation"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}, {"Oauth2": ["https://www.googleapis.com/auth/dialogflow"], "Oauth2c": ["https://www.googleapis.com/auth/dialogflow"]}], "tags": ["projects"]}}, "/v2/{parent}/agent:import": {"parameters": [{"$ref": "#/components/parameters/key"}, {"$ref": "#/components/parameters/access_token"}, {"$ref": "#/components/parameters/upload_protocol"}, {"$ref": "#/components/parameters/prettyPrint"}, {"$ref": "#/components/parameters/quotaUser"}, {"$ref": "#/components/parameters/uploadType"}, {"$ref": "#/components/parameters/fields"}, {"$ref": "#/components/parameters/_.xgafv"}, {"$ref": "#/components/parameters/oauth_token"}, {"$ref": "#/components/parameters/callback"}, {"$ref": "#/components/parameters/alt"}], "post": {"description": "Imports the specified agent from a ZIP file.\n\nUploads new intents and entity types without deleting the existing ones.\nIntents and entity types with the same name are replaced with the new\nversions from ImportAgentRequest.\n\nOperation <response: google.protobuf.Empty>", "operationId": "dialogflow.projects.agent.import", "parameters": [{"description": "Required. The project that the agent to import is associated with.\nFormat: `projects/<Project ID>`.", "in": "path", "name": "parent", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2ImportAgentRequest"}}}}, "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/GoogleLongrunningOperation"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}, {"Oauth2": ["https://www.googleapis.com/auth/dialogflow"], "Oauth2c": ["https://www.googleapis.com/auth/dialogflow"]}], "tags": ["projects"]}}, "/v2/{parent}/agent:restore": {"parameters": [{"$ref": "#/components/parameters/key"}, {"$ref": "#/components/parameters/access_token"}, {"$ref": "#/components/parameters/upload_protocol"}, {"$ref": "#/components/parameters/prettyPrint"}, {"$ref": "#/components/parameters/quotaUser"}, {"$ref": "#/components/parameters/uploadType"}, {"$ref": "#/components/parameters/fields"}, {"$ref": "#/components/parameters/_.xgafv"}, {"$ref": "#/components/parameters/oauth_token"}, {"$ref": "#/components/parameters/callback"}, {"$ref": "#/components/parameters/alt"}], "post": {"description": "Restores the specified agent from a ZIP file.\n\nReplaces the current agent version with a new one. All the intents and\nentity types in the older version are deleted.\n\nOperation <response: google.protobuf.Empty>", "operationId": "dialogflow.projects.agent.restore", "parameters": [{"description": "Required. The project that the agent to restore is associated with.\nFormat: `projects/<Project ID>`.", "in": "path", "name": "parent", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2RestoreAgentRequest"}}}}, "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/GoogleLongrunningOperation"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}, {"Oauth2": ["https://www.googleapis.com/auth/dialogflow"], "Oauth2c": ["https://www.googleapis.com/auth/dialogflow"]}], "tags": ["projects"]}}, "/v2/{parent}/agent:search": {"get": {"description": "Returns the list of agents.\n\nSince there is at most one conversational agent per project, this method is\nuseful primarily for listing all agents across projects the caller has\naccess to. One can achieve that with a wildcard project collection id \"-\".\nRefer to [List\nSub-Collections](https://cloud.google.com/apis/design/design_patterns#list_sub-collections).", "operationId": "dialogflow.projects.agent.search", "parameters": [{"description": "Required. The project to list agents from.\nFormat: `projects/<Project ID or '-'>`.", "in": "path", "name": "parent", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}, {"description": "Optional. The maximum number of items to return in a single page. By\ndefault 100 and at most 1000.", "in": "query", "name": "pageSize", "schema": {"type": "integer"}}, {"description": "The next_page_token value returned from a previous list request.", "in": "query", "name": "pageToken", "schema": {"type": "string"}}], "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2SearchAgentsResponse"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}, {"Oauth2": ["https://www.googleapis.com/auth/dialogflow"], "Oauth2c": ["https://www.googleapis.com/auth/dialogflow"]}], "tags": ["projects"]}, "parameters": [{"$ref": "#/components/parameters/key"}, {"$ref": "#/components/parameters/access_token"}, {"$ref": "#/components/parameters/upload_protocol"}, {"$ref": "#/components/parameters/prettyPrint"}, {"$ref": "#/components/parameters/quotaUser"}, {"$ref": "#/components/parameters/uploadType"}, {"$ref": "#/components/parameters/fields"}, {"$ref": "#/components/parameters/_.xgafv"}, {"$ref": "#/components/parameters/oauth_token"}, {"$ref": "#/components/parameters/callback"}, {"$ref": "#/components/parameters/alt"}]}, "/v2/{parent}/agent:train": {"parameters": [{"$ref": "#/components/parameters/key"}, {"$ref": "#/components/parameters/access_token"}, {"$ref": "#/components/parameters/upload_protocol"}, {"$ref": "#/components/parameters/prettyPrint"}, {"$ref": "#/components/parameters/quotaUser"}, {"$ref": "#/components/parameters/uploadType"}, {"$ref": "#/components/parameters/fields"}, {"$ref": "#/components/parameters/_.xgafv"}, {"$ref": "#/components/parameters/oauth_token"}, {"$ref": "#/components/parameters/callback"}, {"$ref": "#/components/parameters/alt"}], "post": {"description": "Trains the specified agent.\n\nOperation <response: google.protobuf.Empty>", "operationId": "dialogflow.projects.agent.train", "parameters": [{"description": "Required. The project that the agent to train is associated with.\nFormat: `projects/<Project ID>`.", "in": "path", "name": "parent", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2TrainAgentRequest"}}}}, "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/GoogleLongrunningOperation"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}, {"Oauth2": ["https://www.googleapis.com/auth/dialogflow"], "Oauth2c": ["https://www.googleapis.com/auth/dialogflow"]}], "tags": ["projects"]}}, "/v2/{parent}/contexts": {"delete": {"description": "Deletes all active contexts in the specified session.", "operationId": "dialogflow.projects.agent.sessions.deleteContexts", "parameters": [{"description": "Required. The name of the session to delete all contexts from. Format:\n`projects/<Project ID>/agent/sessions/<Session ID>`.", "in": "path", "name": "parent", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}], "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/GoogleProtobufEmpty"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}, {"Oauth2": ["https://www.googleapis.com/auth/dialogflow"], "Oauth2c": ["https://www.googleapis.com/auth/dialogflow"]}], "tags": ["projects"]}, "get": {"description": "Returns the list of all contexts in the specified session.", "operationId": "dialogflow.projects.agent.sessions.contexts.list", "parameters": [{"description": "Required. The session to list all contexts from.\nFormat: `projects/<Project ID>/agent/sessions/<Session ID>`.", "in": "path", "name": "parent", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}, {"description": "Optional. The maximum number of items to return in a single page. By\ndefault 100 and at most 1000.", "in": "query", "name": "pageSize", "schema": {"type": "integer"}}, {"description": "Optional. The next_page_token value returned from a previous list request.", "in": "query", "name": "pageToken", "schema": {"type": "string"}}], "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2ListContextsResponse"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}, {"Oauth2": ["https://www.googleapis.com/auth/dialogflow"], "Oauth2c": ["https://www.googleapis.com/auth/dialogflow"]}], "tags": ["projects"]}, "parameters": [{"$ref": "#/components/parameters/key"}, {"$ref": "#/components/parameters/access_token"}, {"$ref": "#/components/parameters/upload_protocol"}, {"$ref": "#/components/parameters/prettyPrint"}, {"$ref": "#/components/parameters/quotaUser"}, {"$ref": "#/components/parameters/uploadType"}, {"$ref": "#/components/parameters/fields"}, {"$ref": "#/components/parameters/_.xgafv"}, {"$ref": "#/components/parameters/oauth_token"}, {"$ref": "#/components/parameters/callback"}, {"$ref": "#/components/parameters/alt"}], "post": {"description": "Creates a context.\n\nIf the specified context already exists, overrides the context.", "operationId": "dialogflow.projects.agent.sessions.contexts.create", "parameters": [{"description": "Required. The session to create a context for.\nFormat: `projects/<Project ID>/agent/sessions/<Session ID>`.", "in": "path", "name": "parent", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2Context"}}}}, "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2Context"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}, {"Oauth2": ["https://www.googleapis.com/auth/dialogflow"], "Oauth2c": ["https://www.googleapis.com/auth/dialogflow"]}], "tags": ["projects"]}}, "/v2/{parent}/entities:batchCreate": {"parameters": [{"$ref": "#/components/parameters/key"}, {"$ref": "#/components/parameters/access_token"}, {"$ref": "#/components/parameters/upload_protocol"}, {"$ref": "#/components/parameters/prettyPrint"}, {"$ref": "#/components/parameters/quotaUser"}, {"$ref": "#/components/parameters/uploadType"}, {"$ref": "#/components/parameters/fields"}, {"$ref": "#/components/parameters/_.xgafv"}, {"$ref": "#/components/parameters/oauth_token"}, {"$ref": "#/components/parameters/callback"}, {"$ref": "#/components/parameters/alt"}], "post": {"description": "Creates multiple new entities in the specified entity type.\n\nOperation <response: google.protobuf.Empty>", "operationId": "dialogflow.projects.agent.entityTypes.entities.batchCreate", "parameters": [{"description": "Required. The name of the entity type to create entities in. Format:\n`projects/<Project ID>/agent/entityTypes/<Entity Type ID>`.", "in": "path", "name": "parent", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2BatchCreateEntitiesRequest"}}}}, "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/GoogleLongrunningOperation"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}, {"Oauth2": ["https://www.googleapis.com/auth/dialogflow"], "Oauth2c": ["https://www.googleapis.com/auth/dialogflow"]}], "tags": ["projects"]}}, "/v2/{parent}/entities:batchDelete": {"parameters": [{"$ref": "#/components/parameters/key"}, {"$ref": "#/components/parameters/access_token"}, {"$ref": "#/components/parameters/upload_protocol"}, {"$ref": "#/components/parameters/prettyPrint"}, {"$ref": "#/components/parameters/quotaUser"}, {"$ref": "#/components/parameters/uploadType"}, {"$ref": "#/components/parameters/fields"}, {"$ref": "#/components/parameters/_.xgafv"}, {"$ref": "#/components/parameters/oauth_token"}, {"$ref": "#/components/parameters/callback"}, {"$ref": "#/components/parameters/alt"}], "post": {"description": "Deletes entities in the specified entity type.\n\nOperation <response: google.protobuf.Empty>", "operationId": "dialogflow.projects.agent.entityTypes.entities.batchDelete", "parameters": [{"description": "Required. The name of the entity type to delete entries for. Format:\n`projects/<Project ID>/agent/entityTypes/<Entity Type ID>`.", "in": "path", "name": "parent", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2BatchDeleteEntitiesRequest"}}}}, "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/GoogleLongrunningOperation"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}, {"Oauth2": ["https://www.googleapis.com/auth/dialogflow"], "Oauth2c": ["https://www.googleapis.com/auth/dialogflow"]}], "tags": ["projects"]}}, "/v2/{parent}/entities:batchUpdate": {"parameters": [{"$ref": "#/components/parameters/key"}, {"$ref": "#/components/parameters/access_token"}, {"$ref": "#/components/parameters/upload_protocol"}, {"$ref": "#/components/parameters/prettyPrint"}, {"$ref": "#/components/parameters/quotaUser"}, {"$ref": "#/components/parameters/uploadType"}, {"$ref": "#/components/parameters/fields"}, {"$ref": "#/components/parameters/_.xgafv"}, {"$ref": "#/components/parameters/oauth_token"}, {"$ref": "#/components/parameters/callback"}, {"$ref": "#/components/parameters/alt"}], "post": {"description": "Updates or creates multiple entities in the specified entity type. This\nmethod does not affect entities in the entity type that aren't explicitly\nspecified in the request.\n\nOperation <response: google.protobuf.Empty>", "operationId": "dialogflow.projects.agent.entityTypes.entities.batchUpdate", "parameters": [{"description": "Required. The name of the entity type to update or create entities in.\nFormat: `projects/<Project ID>/agent/entityTypes/<Entity Type ID>`.", "in": "path", "name": "parent", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2BatchUpdateEntitiesRequest"}}}}, "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/GoogleLongrunningOperation"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}, {"Oauth2": ["https://www.googleapis.com/auth/dialogflow"], "Oauth2c": ["https://www.googleapis.com/auth/dialogflow"]}], "tags": ["projects"]}}, "/v2/{parent}/entityTypes": {"get": {"description": "Returns the list of all session entity types in the specified session.\n\nThis method doesn't work with Google Assistant integration.\nContact Dialogflow support if you need to use session entities\nwith Google Assistant integration.", "operationId": "dialogflow.projects.agent.sessions.entityTypes.list", "parameters": [{"description": "Required. The session to list all session entity types from.\nFormat: `projects/<Project ID>/agent/sessions/<Session ID>`.", "in": "path", "name": "parent", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}, {"description": "Optional. The maximum number of items to return in a single page. By\ndefault 100 and at most 1000.", "in": "query", "name": "pageSize", "schema": {"type": "integer"}}, {"description": "Optional. The next_page_token value returned from a previous list request.", "in": "query", "name": "pageToken", "schema": {"type": "string"}}, {"description": "Optional. The next_page_token value returned from a previous list request.", "in": "query", "name": "pageToken", "schema": {"type": "string"}}], "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2ListSessionEntityTypesResponse"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}, {"Oauth2": ["https://www.googleapis.com/auth/dialogflow"], "Oauth2c": ["https://www.googleapis.com/auth/dialogflow"]}], "tags": ["projects"]}, "parameters": [{"$ref": "#/components/parameters/key"}, {"$ref": "#/components/parameters/access_token"}, {"$ref": "#/components/parameters/upload_protocol"}, {"$ref": "#/components/parameters/prettyPrint"}, {"$ref": "#/components/parameters/quotaUser"}, {"$ref": "#/components/parameters/uploadType"}, {"$ref": "#/components/parameters/fields"}, {"$ref": "#/components/parameters/_.xgafv"}, {"$ref": "#/components/parameters/oauth_token"}, {"$ref": "#/components/parameters/callback"}, {"$ref": "#/components/parameters/alt"}], "post": {"description": "Creates a session entity type.\n\nIf the specified session entity type already exists, overrides the session\nentity type.\n\nThis method doesn't work with Google Assistant integration.\nContact Dialogflow support if you need to use session entities\nwith Google Assistant integration.", "operationId": "dialogflow.projects.agent.sessions.entityTypes.create", "parameters": [{"description": "Required. The session to create a session entity type for.\nFormat: `projects/<Project ID>/agent/sessions/<Session ID>`.", "in": "path", "name": "parent", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}, {"description": "Optional. The language of entity synonyms defined in `entity_type`. If not\nspecified, the agent's default language is used.\n[Many\nlanguages](https://cloud.google.com/dialogflow/docs/reference/language)\nare supported. Note: languages must be enabled in the agent before they can\nbe used.", "in": "query", "name": "languageCode", "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2SessionEntityType"}}}}, "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2SessionEntityType"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}, {"Oauth2": ["https://www.googleapis.com/auth/dialogflow"], "Oauth2c": ["https://www.googleapis.com/auth/dialogflow"]}], "tags": ["projects"]}}, "/v2/{parent}/entityTypes:batchDelete": {"parameters": [{"$ref": "#/components/parameters/key"}, {"$ref": "#/components/parameters/access_token"}, {"$ref": "#/components/parameters/upload_protocol"}, {"$ref": "#/components/parameters/prettyPrint"}, {"$ref": "#/components/parameters/quotaUser"}, {"$ref": "#/components/parameters/uploadType"}, {"$ref": "#/components/parameters/fields"}, {"$ref": "#/components/parameters/_.xgafv"}, {"$ref": "#/components/parameters/oauth_token"}, {"$ref": "#/components/parameters/callback"}, {"$ref": "#/components/parameters/alt"}], "post": {"description": "Deletes entity types in the specified agent.\n\nOperation <response: google.protobuf.Empty>", "operationId": "dialogflow.projects.agent.entityTypes.batchDelete", "parameters": [{"description": "Required. The name of the agent to delete all entities types for. Format:\n`projects/<Project ID>/agent`.", "in": "path", "name": "parent", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2BatchDeleteEntityTypesRequest"}}}}, "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/GoogleLongrunningOperation"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}, {"Oauth2": ["https://www.googleapis.com/auth/dialogflow"], "Oauth2c": ["https://www.googleapis.com/auth/dialogflow"]}], "tags": ["projects"]}}, "/v2/{parent}/entityTypes:batchUpdate": {"parameters": [{"$ref": "#/components/parameters/key"}, {"$ref": "#/components/parameters/access_token"}, {"$ref": "#/components/parameters/upload_protocol"}, {"$ref": "#/components/parameters/prettyPrint"}, {"$ref": "#/components/parameters/quotaUser"}, {"$ref": "#/components/parameters/uploadType"}, {"$ref": "#/components/parameters/fields"}, {"$ref": "#/components/parameters/_.xgafv"}, {"$ref": "#/components/parameters/oauth_token"}, {"$ref": "#/components/parameters/callback"}, {"$ref": "#/components/parameters/alt"}], "post": {"description": "Updates/Creates multiple entity types in the specified agent.\n\nOperation <response: BatchUpdateEntityTypesResponse>", "operationId": "dialogflow.projects.agent.entityTypes.batchUpdate", "parameters": [{"description": "Required. The name of the agent to update or create entity types in.\nFormat: `projects/<Project ID>/agent`.", "in": "path", "name": "parent", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2BatchUpdateEntityTypesRequest"}}}}, "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/GoogleLongrunningOperation"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}, {"Oauth2": ["https://www.googleapis.com/auth/dialogflow"], "Oauth2c": ["https://www.googleapis.com/auth/dialogflow"]}], "tags": ["projects"]}}, "/v2/{parent}/intents": {"get": {"description": "Returns the list of all intents in the specified agent.", "operationId": "dialogflow.projects.agent.intents.list", "parameters": [{"description": "Required. The agent to list all intents from.\nFormat: `projects/<Project ID>/agent`.", "in": "path", "name": "parent", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}, {"description": "Optional. The resource view to apply to the returned intent.", "in": "query", "name": "intentView", "schema": {"enum": ["INTENT_VIEW_UNSPECIFIED", "INTENT_VIEW_FULL"], "type": "string"}}, {"description": "Optional. The language to list training phrases, parameters and rich\nmessages for. If not specified, the agent's default language is used.\n[Many\nlanguages](https://cloud.google.com/dialogflow/docs/reference/language)\nare supported. Note: languages must be enabled in the agent before they can\nbe used.", "in": "query", "name": "languageCode", "schema": {"type": "string"}}, {"description": "Optional. The maximum number of items to return in a single page. By\ndefault 100 and at most 1000.", "in": "query", "name": "pageSize", "schema": {"type": "integer"}}, {"description": "Optional. The next_page_token value returned from a previous list request.", "in": "query", "name": "pageToken", "schema": {"type": "string"}}], "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2ListIntentsResponse"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}, {"Oauth2": ["https://www.googleapis.com/auth/dialogflow"], "Oauth2c": ["https://www.googleapis.com/auth/dialogflow"]}], "tags": ["projects"]}, "parameters": [{"$ref": "#/components/parameters/key"}, {"$ref": "#/components/parameters/access_token"}, {"$ref": "#/components/parameters/upload_protocol"}, {"$ref": "#/components/parameters/prettyPrint"}, {"$ref": "#/components/parameters/quotaUser"}, {"$ref": "#/components/parameters/uploadType"}, {"$ref": "#/components/parameters/fields"}, {"$ref": "#/components/parameters/_.xgafv"}, {"$ref": "#/components/parameters/oauth_token"}, {"$ref": "#/components/parameters/callback"}, {"$ref": "#/components/parameters/alt"}], "post": {"description": "Creates an intent in the specified agent.", "operationId": "dialogflow.projects.agent.intents.create", "parameters": [{"description": "Required. The agent to create a intent for.\nFormat: `projects/<Project ID>/agent`.", "in": "path", "name": "parent", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}, {"description": "Optional. The resource view to apply to the returned intent.", "in": "query", "name": "intentView", "schema": {"enum": ["INTENT_VIEW_UNSPECIFIED", "INTENT_VIEW_FULL"], "type": "string"}}, {"description": "Optional. The language of training phrases, parameters and rich messages\ndefined in `intent`. If not specified, the agent's default language is\nused. [Many\nlanguages](https://cloud.google.com/dialogflow/docs/reference/language)\nare supported. Note: languages must be enabled in the agent before they can\nbe used.", "in": "query", "name": "languageCode", "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2Intent"}}}}, "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2Intent"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}, {"Oauth2": ["https://www.googleapis.com/auth/dialogflow"], "Oauth2c": ["https://www.googleapis.com/auth/dialogflow"]}], "tags": ["projects"]}}, "/v2/{parent}/intents:batchDelete": {"parameters": [{"$ref": "#/components/parameters/key"}, {"$ref": "#/components/parameters/access_token"}, {"$ref": "#/components/parameters/upload_protocol"}, {"$ref": "#/components/parameters/prettyPrint"}, {"$ref": "#/components/parameters/quotaUser"}, {"$ref": "#/components/parameters/uploadType"}, {"$ref": "#/components/parameters/fields"}, {"$ref": "#/components/parameters/_.xgafv"}, {"$ref": "#/components/parameters/oauth_token"}, {"$ref": "#/components/parameters/callback"}, {"$ref": "#/components/parameters/alt"}], "post": {"description": "Deletes intents in the specified agent.\n\nOperation <response: google.protobuf.Empty>", "operationId": "dialogflow.projects.agent.intents.batchDelete", "parameters": [{"description": "Required. The name of the agent to delete all entities types for. Format:\n`projects/<Project ID>/agent`.", "in": "path", "name": "parent", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2BatchDeleteIntentsRequest"}}}}, "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/GoogleLongrunningOperation"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}, {"Oauth2": ["https://www.googleapis.com/auth/dialogflow"], "Oauth2c": ["https://www.googleapis.com/auth/dialogflow"]}], "tags": ["projects"]}}, "/v2/{parent}/intents:batchUpdate": {"parameters": [{"$ref": "#/components/parameters/key"}, {"$ref": "#/components/parameters/access_token"}, {"$ref": "#/components/parameters/upload_protocol"}, {"$ref": "#/components/parameters/prettyPrint"}, {"$ref": "#/components/parameters/quotaUser"}, {"$ref": "#/components/parameters/uploadType"}, {"$ref": "#/components/parameters/fields"}, {"$ref": "#/components/parameters/_.xgafv"}, {"$ref": "#/components/parameters/oauth_token"}, {"$ref": "#/components/parameters/callback"}, {"$ref": "#/components/parameters/alt"}], "post": {"description": "Updates/Creates multiple intents in the specified agent.\n\nOperation <response: BatchUpdateIntentsResponse>", "operationId": "dialogflow.projects.agent.intents.batchUpdate", "parameters": [{"description": "Required. The name of the agent to update or create intents in.\nFormat: `projects/<Project ID>/agent`.", "in": "path", "name": "parent", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2BatchUpdateIntentsRequest"}}}}, "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/GoogleLongrunningOperation"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}, {"Oauth2": ["https://www.googleapis.com/auth/dialogflow"], "Oauth2c": ["https://www.googleapis.com/auth/dialogflow"]}], "tags": ["projects"]}}, "/v2/{session}:detectIntent": {"parameters": [{"$ref": "#/components/parameters/key"}, {"$ref": "#/components/parameters/access_token"}, {"$ref": "#/components/parameters/upload_protocol"}, {"$ref": "#/components/parameters/prettyPrint"}, {"$ref": "#/components/parameters/quotaUser"}, {"$ref": "#/components/parameters/uploadType"}, {"$ref": "#/components/parameters/fields"}, {"$ref": "#/components/parameters/_.xgafv"}, {"$ref": "#/components/parameters/oauth_token"}, {"$ref": "#/components/parameters/callback"}, {"$ref": "#/components/parameters/alt"}], "post": {"description": "Processes a natural language query and returns structured, actionable data\nas a result. This method is not idempotent, because it may cause contexts\nand session entity types to be updated, which in turn might affect\nresults of future queries.", "operationId": "dialogflow.projects.agent.sessions.detectIntent", "parameters": [{"description": "Required. The name of the session this query is sent to. Format:\n`projects/<Project ID>/agent/sessions/<Session ID>`. It's up to the API\ncaller to choose an appropriate session ID. It can be a random number or\nsome type of user identifier (preferably hashed). The length of the session\nID must not exceed 36 bytes.", "in": "path", "name": "session", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2DetectIntentRequest"}}}}, "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2DetectIntentResponse"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}, {"Oauth2": ["https://www.googleapis.com/auth/dialogflow"], "Oauth2c": ["https://www.googleapis.com/auth/dialogflow"]}], "tags": ["projects"]}}}, "components": {"parameters": {"_.xgafv": {"description": "V1 error format.", "in": "query", "name": "$.xgafv", "schema": {"enum": ["1", "2"], "type": "string"}}, "access_token": {"description": "OAuth access token.", "in": "query", "name": "access_token", "schema": {"type": "string"}}, "alt": {"description": "Data format for response.", "in": "query", "name": "alt", "schema": {"default": "json", "enum": ["json", "media", "proto"], "type": "string"}}, "callback": {"description": "JSONP", "in": "query", "name": "callback", "schema": {"type": "string"}}, "fields": {"description": "Selector specifying which fields to include in a partial response.", "in": "query", "name": "fields", "schema": {"type": "string"}}, "key": {"description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.", "in": "query", "name": "key", "schema": {"type": "string"}}, "oauth_token": {"description": "OAuth 2.0 token for the current user.", "in": "query", "name": "oauth_token", "schema": {"type": "string"}}, "prettyPrint": {"description": "Returns response with indentations and line breaks.", "in": "query", "name": "prettyPrint", "schema": {"default": true, "type": "boolean"}}, "quotaUser": {"description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.", "in": "query", "name": "quotaUser", "schema": {"type": "string"}}, "uploadType": {"description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").", "in": "query", "name": "uploadType", "schema": {"type": "string"}}, "upload_protocol": {"description": "Upload protocol for media (e.g. \"raw\", \"multipart\").", "in": "query", "name": "upload_protocol", "schema": {"type": "string"}}}, "requestBodies": {"GoogleCloudDialogflowV2Context": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2Context"}}}}}, "schemas": {"GoogleCloudDialogflowV2Agent": {"description": "Represents a conversational agent.", "properties": {"apiVersion": {"description": "Optional. API version displayed in Dialogflow console. If not specified,\nV2 API is assumed. Clients are free to query different service endpoints\nfor different API versions. However, bots connectors and webhook calls will\nfollow the specified API version.", "enum": ["API_VERSION_UNSPECIFIED", "API_VERSION_V1", "API_VERSION_V2", "API_VERSION_V2_BETA_1"], "type": "string"}, "avatarUri": {"description": "Optional. The URI of the agent's avatar.\nAvatars are used throughout the Dialogflow console and in the self-hosted\n[Web\nDemo](https://cloud.google.com/dialogflow/docs/integrations/web-demo)\nintegration.", "type": "string"}, "classificationThreshold": {"description": "Optional. To filter out false positive results and still get variety in\nmatched natural language inputs for your agent, you can tune the machine\nlearning classification threshold. If the returned score value is less than\nthe threshold value, then a fallback intent will be triggered or, if there\nare no fallback intents defined, no intent will be triggered. The score\nvalues range from 0.0 (completely uncertain) to 1.0 (completely certain).\nIf set to 0.0, the default of 0.3 is used.", "format": "float", "type": "number"}, "defaultLanguageCode": {"description": "Required. The default language of the agent as a language tag. See\n[Language\nSupport](https://cloud.google.com/dialogflow/docs/reference/language)\nfor a list of the currently supported language codes. This field cannot be\nset by the `Update` method.", "type": "string"}, "description": {"description": "Optional. The description of this agent.\nThe maximum length is 500 characters. If exceeded, the request is rejected.", "type": "string"}, "displayName": {"description": "Required. The name of this agent.", "type": "string"}, "enableLogging": {"description": "Optional. Determines whether this agent should log conversation queries.", "type": "boolean"}, "matchMode": {"description": "Optional. Determines how intents are detected from user queries.", "enum": ["MATCH_MODE_UNSPECIFIED", "MATCH_MODE_HYBRID", "MATCH_MODE_ML_ONLY"], "type": "string"}, "parent": {"description": "Required. The project of this agent.\nFormat: `projects/<Project ID>`.", "type": "string"}, "supportedLanguageCodes": {"description": "Optional. The list of all languages supported by this agent (except for the\n`default_language_code`).", "items": {"type": "string"}, "type": "array"}, "tier": {"description": "Optional. The agent tier. If not specified, TIER_STANDARD is assumed.", "enum": ["TIER_UNSPECIFIED", "TIER_STANDARD", "TIER_ENTERPRISE", "TIER_ENTERPRISE_PLUS"], "type": "string"}, "timeZone": {"description": "Required. The time zone of this agent from the\n[time zone database](https://www.iana.org/time-zones), e.g.,\nAmerica/New_York, Europe/Paris.", "type": "string"}}, "type": "object"}, "GoogleCloudDialogflowV2AnnotatedMessagePart": {"description": "Represents a part of a message possibly annotated with an entity. The part\ncan be an entity or purely a part of the message between two entities or\nmessage start/end.", "properties": {"entityType": {"description": "The [Dialogflow system entity\ntype](https://cloud.google.com/dialogflow/docs/reference/system-entities)\nof this message part. If this is empty, Dialogflow could not annotate the\nphrase part with a system entity.", "type": "string"}, "formattedValue": {"description": "The [Dialogflow system entity formatted value\n](https://cloud.google.com/dialogflow/docs/reference/system-entities) of\nthis message part. For example for a system entity of type\n`@sys.unit-currency`, this may contain:\n<pre>\n{\n  \"amount\": 5,\n  \"currency\": \"USD\"\n}\n</pre>"}, "text": {"description": "A part of a message possibly annotated with an entity.", "type": "string"}}, "type": "object"}, "GoogleCloudDialogflowV2BatchCreateEntitiesRequest": {"description": "The request message for EntityTypes.BatchCreateEntities.", "properties": {"entities": {"description": "Required. The entities to create.", "items": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2EntityTypeEntity"}, "type": "array"}, "languageCode": {"description": "Optional. The language of entity synonyms defined in `entities`. If not\nspecified, the agent's default language is used.\n[Many\nlanguages](https://cloud.google.com/dialogflow/docs/reference/language)\nare supported. Note: languages must be enabled in the agent before they can\nbe used.", "type": "string"}}, "type": "object"}, "GoogleCloudDialogflowV2BatchDeleteEntitiesRequest": {"description": "The request message for EntityTypes.BatchDeleteEntities.", "properties": {"entityValues": {"description": "Required. The canonical `values` of the entities to delete. Note that\nthese are not fully-qualified names, i.e. they don't start with\n`projects/<Project ID>`.", "items": {"type": "string"}, "type": "array"}, "languageCode": {"description": "Optional. The language of entity synonyms defined in `entities`. If not\nspecified, the agent's default language is used.\n[Many\nlanguages](https://cloud.google.com/dialogflow/docs/reference/language)\nare supported. Note: languages must be enabled in the agent before they can\nbe used.", "type": "string"}}, "type": "object"}, "GoogleCloudDialogflowV2BatchDeleteEntityTypesRequest": {"description": "The request message for EntityTypes.BatchDeleteEntityTypes.", "properties": {"entityTypeNames": {"description": "Required. The names entity types to delete. All names must point to the\nsame agent as `parent`.", "items": {"type": "string"}, "type": "array"}}, "type": "object"}, "GoogleCloudDialogflowV2BatchDeleteIntentsRequest": {"description": "The request message for Intents.BatchDeleteIntents.", "properties": {"intents": {"description": "Required. The collection of intents to delete. Only intent `name` must be\nfilled in.", "items": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2Intent"}, "type": "array"}}, "type": "object"}, "GoogleCloudDialogflowV2BatchUpdateEntitiesRequest": {"description": "The request message for EntityTypes.BatchUpdateEntities.", "properties": {"entities": {"description": "Required. The entities to update or create.", "items": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2EntityTypeEntity"}, "type": "array"}, "languageCode": {"description": "Optional. The language of entity synonyms defined in `entities`. If not\nspecified, the agent's default language is used.\n[Many\nlanguages](https://cloud.google.com/dialogflow/docs/reference/language)\nare supported. Note: languages must be enabled in the agent before they can\nbe used.", "type": "string"}, "updateMask": {"description": "Optional. The mask to control which fields get updated.", "format": "google-fieldmask", "type": "string"}}, "type": "object"}, "GoogleCloudDialogflowV2BatchUpdateEntityTypesRequest": {"description": "The request message for EntityTypes.BatchUpdateEntityTypes.", "properties": {"entityTypeBatchInline": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2EntityTypeBatch", "description": "The collection of entity types to update or create."}, "entityTypeBatchUri": {"description": "The URI to a Google Cloud Storage file containing entity types to update\nor create. The file format can either be a serialized proto (of\nEntityBatch type) or a JSON object. Note: The URI must start with\n\"gs://\".", "type": "string"}, "languageCode": {"description": "Optional. The language of entity synonyms defined in `entity_types`. If not\nspecified, the agent's default language is used.\n[Many\nlanguages](https://cloud.google.com/dialogflow/docs/reference/language)\nare supported. Note: languages must be enabled in the agent before they can\nbe used.", "type": "string"}, "updateMask": {"description": "Optional. The mask to control which fields get updated.", "format": "google-fieldmask", "type": "string"}}, "type": "object"}, "GoogleCloudDialogflowV2BatchUpdateEntityTypesResponse": {"description": "The response message for EntityTypes.BatchUpdateEntityTypes.", "properties": {"entityTypes": {"description": "The collection of updated or created entity types.", "items": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2EntityType"}, "type": "array"}}, "type": "object"}, "GoogleCloudDialogflowV2BatchUpdateIntentsRequest": {"description": "The request message for Intents.BatchUpdateIntents.", "properties": {"intentBatchInline": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2IntentBatch", "description": "The collection of intents to update or create."}, "intentBatchUri": {"description": "The URI to a Google Cloud Storage file containing intents to update or\ncreate. The file format can either be a serialized proto (of IntentBatch\ntype) or JSON object. Note: The URI must start with \"gs://\".", "type": "string"}, "intentView": {"description": "Optional. The resource view to apply to the returned intent.", "enum": ["INTENT_VIEW_UNSPECIFIED", "INTENT_VIEW_FULL"], "type": "string"}, "languageCode": {"description": "Optional. The language of training phrases, parameters and rich messages\ndefined in `intents`. If not specified, the agent's default language is\nused. [Many\nlanguages](https://cloud.google.com/dialogflow/docs/reference/language)\nare supported. Note: languages must be enabled in the agent before they can\nbe used.", "type": "string"}, "updateMask": {"description": "Optional. The mask to control which fields get updated.", "format": "google-fieldmask", "type": "string"}}, "type": "object"}, "GoogleCloudDialogflowV2BatchUpdateIntentsResponse": {"description": "The response message for Intents.BatchUpdateIntents.", "properties": {"intents": {"description": "The collection of updated or created intents.", "items": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2Intent"}, "type": "array"}}, "type": "object"}, "GoogleCloudDialogflowV2Context": {"description": "Represents a context.", "properties": {"lifespanCount": {"description": "Optional. The number of conversational query requests after which the\ncontext expires. If set to `0` (the default) the context expires\nimmediately. Contexts expire automatically after 20 minutes if there\nare no matching queries.", "format": "int32", "type": "integer"}, "name": {"description": "Required. The unique identifier of the context. Format:\n`projects/<Project ID>/agent/sessions/<Session ID>/contexts/<Context ID>`.\n\nThe `Context ID` is always converted to lowercase, may only contain\ncharacters in [a-zA-Z0-9_-%] and may be at most 250 bytes long.", "type": "string"}, "parameters": {"additionalProperties": {"description": "Properties of the object."}, "description": "Optional. The collection of parameters associated with this context.\nRefer to [this\ndoc](https://cloud.google.com/dialogflow/docs/intents-actions-parameters)\nfor syntax.", "type": "object"}}, "type": "object"}, "GoogleCloudDialogflowV2ConversationEvent": {"description": "Represents a notification sent to Cloud Pub/Sub subscribers for conversation\nlifecycle events.", "properties": {"conversation": {"description": "The unique identifier of the conversation this notification\nrefers to.\nFormat: `projects/<Project ID>/conversations/<Conversation ID>`.", "type": "string"}, "errorStatus": {"$ref": "#/components/schemas/GoogleRpcStatus", "description": "More detailed information about an error. Only set for type\nUNRECOVERABLE_ERROR_IN_PHONE_CALL."}, "newMessagePayload": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2Message", "description": "Payload of NEW_MESSAGE event."}, "type": {"description": "The type of the event that this notification refers to.", "enum": ["TYPE_UNSPECIFIED", "CONVERSATION_STARTED", "CONVERSATION_FINISHED", "HUMAN_INTERVENTION_NEEDED", "NEW_MESSAGE", "UNRECOVERABLE_ERROR"], "type": "string"}}, "type": "object"}, "GoogleCloudDialogflowV2DetectIntentRequest": {"description": "The request to detect user's intent.", "properties": {"inputAudio": {"description": "Optional. The natural language speech audio to be processed. This field\nshould be populated iff `query_input` is set to an input audio config.\nA single request can contain up to 1 minute of speech audio data.", "format": "byte", "type": "string"}, "outputAudioConfig": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2OutputAudioConfig", "description": "Optional. Instructs the speech synthesizer how to generate the output\naudio. If this field is not set and agent-level speech synthesizer is not\nconfigured, no output audio is generated."}, "queryInput": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2QueryInput", "description": "Required. The input specification. It can be set to:\n\n1.  an audio config\n    which instructs the speech recognizer how to process the speech audio,\n\n2.  a conversational query in the form of text, or\n\n3.  an event that specifies which intent to trigger."}, "queryParams": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2QueryParameters", "description": "Optional. The parameters of this query."}}, "type": "object"}, "GoogleCloudDialogflowV2DetectIntentResponse": {"description": "The message returned from the DetectIntent method.", "properties": {"outputAudio": {"description": "The audio data bytes encoded as specified in the request.\nNote: The output audio is generated based on the values of default platform\ntext responses found in the `query_result.fulfillment_messages` field. If\nmultiple default text responses exist, they will be concatenated when\ngenerating audio. If no default platform text responses exist, the\ngenerated audio content will be empty.", "format": "byte", "type": "string"}, "outputAudioConfig": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2OutputAudioConfig", "description": "The config used by the speech synthesizer to generate the output audio."}, "queryResult": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2QueryResult", "description": "The selected results of the conversational query or event processing.\nSee `alternative_query_results` for additional potential results."}, "responseId": {"description": "The unique identifier of the response. It can be used to\nlocate a response in the training example set or for reporting issues.", "type": "string"}, "webhookStatus": {"$ref": "#/components/schemas/GoogleRpcStatus", "description": "Specifies the status of the webhook request."}}, "type": "object"}, "GoogleCloudDialogflowV2EntityType": {"description": "Represents an entity type.\nEntity types serve as a tool for extracting parameter values from natural\nlanguage queries.", "properties": {"autoExpansionMode": {"description": "Optional. Indicates whether the entity type can be automatically\nexpanded.", "enum": ["AUTO_EXPANSION_MODE_UNSPECIFIED", "AUTO_EXPANSION_MODE_DEFAULT"], "type": "string"}, "displayName": {"description": "Required. The name of the entity type.", "type": "string"}, "enableFuzzyExtraction": {"description": "Optional. Enables fuzzy entity extraction during classification.", "type": "boolean"}, "entities": {"description": "Optional. The collection of entity entries associated with the entity type.", "items": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2EntityTypeEntity"}, "type": "array"}, "kind": {"description": "Required. Indicates the kind of entity type.", "enum": ["KIND_UNSPECIFIED", "KIND_MAP", "KIND_LIST", "KIND_REGEXP"], "type": "string"}, "name": {"description": "The unique identifier of the entity type.\nRequired for EntityTypes.UpdateEntityType and\nEntityTypes.BatchUpdateEntityTypes methods.\nFormat: `projects/<Project ID>/agent/entityTypes/<Entity Type ID>`.", "type": "string"}}, "type": "object"}, "GoogleCloudDialogflowV2EntityTypeBatch": {"description": "This message is a wrapper around a collection of entity types.", "properties": {"entityTypes": {"description": "A collection of entity types.", "items": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2EntityType"}, "type": "array"}}, "type": "object"}, "GoogleCloudDialogflowV2EntityTypeEntity": {"description": "An **entity entry** for an associated entity type.", "properties": {"synonyms": {"description": "Required. A collection of value synonyms. For example, if the entity type\nis *vegetable*, and `value` is *scallions*, a synonym could be *green\nonions*.\n\nFor `KIND_LIST` entity types:\n\n*   This collection must contain exactly one synonym equal to `value`.", "items": {"type": "string"}, "type": "array"}, "value": {"description": "Required. The primary value associated with this entity entry.\nFor example, if the entity type is *vegetable*, the value could be\n*scallions*.\n\nFor `KIND_MAP` entity types:\n\n*   A canonical value to be used in place of synonyms.\n\nFor `KIND_LIST` entity types:\n\n*   A string that can contain references to other entity types (with or\n    without aliases).", "type": "string"}}, "type": "object"}, "GoogleCloudDialogflowV2EventInput": {"description": "Events allow for matching intents by event name instead of the natural\nlanguage input. For instance, input `<event: { name: \"welcome_event\",\nparameters: { name: \"Sam\" } }>` can trigger a personalized welcome response.\nThe parameter `name` may be used by the agent in the response:\n`\"Hello #welcome_event.name! What can I do for you today?\"`.", "properties": {"languageCode": {"description": "Required. The language of this query. See [Language\nSupport](https://cloud.google.com/dialogflow/docs/reference/language)\nfor a list of the currently supported language codes. Note that queries in\nthe same session do not necessarily need to specify the same language.", "type": "string"}, "name": {"description": "Required. The unique identifier of the event.", "type": "string"}, "parameters": {"additionalProperties": {"description": "Properties of the object."}, "description": "Optional. The collection of parameters associated with the event.", "type": "object"}}, "type": "object"}, "GoogleCloudDialogflowV2ExportAgentRequest": {"description": "The request message for Agents.ExportAgent.", "properties": {"agentUri": {"description": "Required. The [Google Cloud Storage](https://cloud.google.com/storage/docs/)\nURI to export the agent to.\nThe format of this URI must be `gs://<bucket-name>/<object-name>`.\nIf left unspecified, the serialized agent is returned inline.", "type": "string"}}, "type": "object"}, "GoogleCloudDialogflowV2ExportAgentResponse": {"description": "The response message for Agents.ExportAgent.", "properties": {"agentContent": {"description": "Zip compressed raw byte content for agent.", "format": "byte", "type": "string"}, "agentUri": {"description": "The URI to a file containing the exported agent. This field is populated\nonly if `agent_uri` is specified in `ExportAgentRequest`.", "type": "string"}}, "type": "object"}, "GoogleCloudDialogflowV2ImportAgentRequest": {"description": "The request message for Agents.ImportAgent.", "properties": {"agentContent": {"description": "Zip compressed raw byte content for agent.", "format": "byte", "type": "string"}, "agentUri": {"description": "The URI to a Google Cloud Storage file containing the agent to import.\nNote: The URI must start with \"gs://\".", "type": "string"}}, "type": "object"}, "GoogleCloudDialogflowV2InputAudioConfig": {"description": "Instructs the speech recognizer how to process the audio content.", "properties": {"audioEncoding": {"description": "Required. Audio encoding of the audio content to process.", "enum": ["AUDIO_ENCODING_UNSPECIFIED", "AUDIO_ENCODING_LINEAR_16", "AUDIO_ENCODING_FLAC", "AUDIO_ENCODING_MULAW", "AUDIO_ENCODING_AMR", "AUDIO_ENCODING_AMR_WB", "AUDIO_ENCODING_OGG_OPUS", "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE"], "type": "string"}, "languageCode": {"description": "Required. The language of the supplied audio. Dialogflow does not do\ntranslations. See [Language\nSupport](https://cloud.google.com/dialogflow/docs/reference/language)\nfor a list of the currently supported language codes. Note that queries in\nthe same session do not necessarily need to specify the same language.", "type": "string"}, "modelVariant": {"description": "Optional. Which variant of the Speech model to use.", "enum": ["SPEECH_MODEL_VARIANT_UNSPECIFIED", "USE_BEST_AVAILABLE", "USE_STANDARD", "USE_ENHANCED"], "type": "string"}, "phraseHints": {"description": "Optional. A list of strings containing words and phrases that the speech\nrecognizer should recognize with higher likelihood.\n\nSee [the Cloud Speech\ndocumentation](https://cloud.google.com/speech-to-text/docs/basics#phrase-hints)\nfor more details.", "items": {"type": "string"}, "type": "array"}, "sampleRateHertz": {"description": "Required. Sample rate (in Hertz) of the audio content sent in the query.\nRefer to\n[Cloud Speech API\ndocumentation](https://cloud.google.com/speech-to-text/docs/basics) for\nmore details.", "format": "int32", "type": "integer"}, "singleUtterance": {"description": "Optional. If `false` (default), recognition does not cease until the\nclient closes the stream.\nIf `true`, the recognizer will detect a single spoken utterance in input\naudio. Recognition ceases when it detects the audio's voice has\nstopped or paused. In this case, once a detected intent is received, the\nclient should close the stream and start a new request with a new stream as\nneeded.\nNote: This setting is relevant only for streaming methods.\nNote: When specified, InputAudioConfig.single_utterance takes precedence\nover StreamingDetectIntentRequest.single_utterance.", "type": "boolean"}}, "type": "object"}, "GoogleCloudDialogflowV2Intent": {"description": "Represents an intent.\nIntents convert a number of user expressions or patterns into an action. An\naction is an extraction of a user command or sentence semantics.", "properties": {"action": {"description": "Optional. The name of the action associated with the intent.\nNote: The action name must not contain whitespaces.", "type": "string"}, "defaultResponsePlatforms": {"description": "Optional. The list of platforms for which the first responses will be\ncopied from the messages in PLATFORM_UNSPECIFIED (i.e. default platform).", "items": {"enum": ["PLATFORM_UNSPECIFIED", "FACEBOOK", "SLACK", "TELEGRAM", "KIK", "SKYPE", "LINE", "VIBER", "ACTIONS_ON_GOOGLE", "GOOGLE_HANGOUTS"], "type": "string"}, "type": "array"}, "displayName": {"description": "Required. The name of this intent.", "type": "string"}, "events": {"description": "Optional. The collection of event names that trigger the intent.\nIf the collection of input contexts is not empty, all of the contexts must\nbe present in the active user session for an event to trigger this intent.", "items": {"type": "string"}, "type": "array"}, "followupIntentInfo": {"description": "Read-only. Information about all followup intents that have this intent as\na direct or indirect parent. We populate this field only in the output.", "items": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2IntentFollowupIntentInfo"}, "type": "array"}, "inputContextNames": {"description": "Optional. The list of context names required for this intent to be\ntriggered.\nFormat: `projects/<Project ID>/agent/sessions/-/contexts/<Context ID>`.", "items": {"type": "string"}, "type": "array"}, "isFallback": {"description": "Optional. Indicates whether this is a fallback intent.", "type": "boolean"}, "messages": {"description": "Optional. The collection of rich messages corresponding to the\n`Response` field in the Dialogflow console.", "items": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2IntentMessage"}, "type": "array"}, "mlDisabled": {"description": "Optional. Indicates whether Machine Learning is disabled for the intent.\nNote: If `ml_disabled` setting is set to true, then this intent is not\ntaken into account during inference in `ML ONLY` match mode. Also,\nauto-markup in the UI is turned off.", "type": "boolean"}, "name": {"description": "The unique identifier of this intent.\nRequired for Intents.UpdateIntent and Intents.BatchUpdateIntents\nmethods.\nFormat: `projects/<Project ID>/agent/intents/<Intent ID>`.", "type": "string"}, "outputContexts": {"description": "Optional. The collection of contexts that are activated when the intent\nis matched. Context messages in this collection should not set the\nparameters field. Setting the `lifespan_count` to 0 will reset the context\nwhen the intent is matched.\nFormat: `projects/<Project ID>/agent/sessions/-/contexts/<Context ID>`.", "items": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2Context"}, "type": "array"}, "parameters": {"description": "Optional. The collection of parameters associated with the intent.", "items": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2IntentParameter"}, "type": "array"}, "parentFollowupIntentName": {"description": "Read-only after creation. The unique identifier of the parent intent in the\nchain of followup intents. You can set this field when creating an intent,\nfor example with CreateIntent or\nBatchUpdateIntents, in order to make this\nintent a followup intent.\n\nIt identifies the parent followup intent.\nFormat: `projects/<Project ID>/agent/intents/<Intent ID>`.", "type": "string"}, "priority": {"description": "Optional. The priority of this intent. Higher numbers represent higher\npriorities.\n\n- If the supplied value is unspecified or 0, the service\n  translates the value to 500,000, which corresponds to the\n  `Normal` priority in the console.\n- If the supplied value is negative, the intent is ignored\n  in runtime detect intent requests.", "format": "int32", "type": "integer"}, "resetContexts": {"description": "Optional. Indicates whether to delete all contexts in the current\nsession when this intent is matched.", "type": "boolean"}, "rootFollowupIntentName": {"description": "Read-only. The unique identifier of the root intent in the chain of\nfollowup intents. It identifies the correct followup intents chain for\nthis intent. We populate this field only in the output.\n\nFormat: `projects/<Project ID>/agent/intents/<Intent ID>`.", "type": "string"}, "trainingPhrases": {"description": "Optional. The collection of examples that the agent is\ntrained on.", "items": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2IntentTrainingPhrase"}, "type": "array"}, "webhookState": {"description": "Optional. Indicates whether webhooks are enabled for the intent.", "enum": ["WEBHOOK_STATE_UNSPECIFIED", "WEBHOOK_STATE_ENABLED", "WEBHOOK_STATE_ENABLED_FOR_SLOT_FILLING"], "type": "string"}}, "type": "object"}, "GoogleCloudDialogflowV2IntentBatch": {"description": "This message is a wrapper around a collection of intents.", "properties": {"intents": {"description": "A collection of intents.", "items": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2Intent"}, "type": "array"}}, "type": "object"}, "GoogleCloudDialogflowV2IntentFollowupIntentInfo": {"description": "Represents a single followup intent in the chain.", "properties": {"followupIntentName": {"description": "The unique identifier of the followup intent.\nFormat: `projects/<Project ID>/agent/intents/<Intent ID>`.", "type": "string"}, "parentFollowupIntentName": {"description": "The unique identifier of the followup intent's parent.\nFormat: `projects/<Project ID>/agent/intents/<Intent ID>`.", "type": "string"}}, "type": "object"}, "GoogleCloudDialogflowV2IntentMessage": {"description": "Corresponds to the `Response` field in the Dialogflow console.", "properties": {"basicCard": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2IntentMessageBasicCard", "description": "The basic card response for Actions on Google."}, "browseCarouselCard": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard", "description": "Browse carousel card for Actions on Google."}, "card": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2IntentMessageCard", "description": "The card response."}, "carouselSelect": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2IntentMessageCarouselSelect", "description": "The carousel card response for Actions on Google."}, "image": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2IntentMessageImage", "description": "The image response."}, "linkOutSuggestion": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion", "description": "The link out suggestion chip for Actions on Google."}, "listSelect": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2IntentMessageListSelect", "description": "The list card response for Actions on Google."}, "mediaContent": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2IntentMessageMediaContent", "description": "The media content card for Actions on Google."}, "payload": {"additionalProperties": {"description": "Properties of the object."}, "description": "Returns a response containing a custom, platform-specific payload.\nSee the Intent.Message.Platform type for a description of the\nstructure that may be required for your platform.", "type": "object"}, "platform": {"description": "Optional. The platform that this message is intended for.", "enum": ["PLATFORM_UNSPECIFIED", "FACEBOOK", "SLACK", "TELEGRAM", "KIK", "SKYPE", "LINE", "VIBER", "ACTIONS_ON_GOOGLE", "GOOGLE_HANGOUTS"], "type": "string"}, "quickReplies": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2IntentMessageQuickReplies", "description": "The quick replies response."}, "simpleResponses": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2IntentMessageSimpleResponses", "description": "The voice and text-only responses for Actions on Google."}, "suggestions": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2IntentMessageSuggestions", "description": "The suggestion chips for Actions on Google."}, "tableCard": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2IntentMessageTableCard", "description": "Table card for Actions on Google."}, "text": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2IntentMessageText", "description": "The text response."}}, "type": "object"}, "GoogleCloudDialogflowV2IntentMessageBasicCard": {"description": "The basic card message. Useful for displaying information.", "properties": {"buttons": {"description": "Optional. The collection of card buttons.", "items": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2IntentMessageBasicCardButton"}, "type": "array"}, "formattedText": {"description": "Required, unless image is present. The body text of the card.", "type": "string"}, "image": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2IntentMessageImage", "description": "Optional. The image for the card."}, "subtitle": {"description": "Optional. The subtitle of the card.", "type": "string"}, "title": {"description": "Optional. The title of the card.", "type": "string"}}, "type": "object"}, "GoogleCloudDialogflowV2IntentMessageBasicCardButton": {"description": "The button object that appears at the bottom of a card.", "properties": {"openUriAction": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction", "description": "Required. Action to take when a user taps on the button."}, "title": {"description": "Required. The title of the button.", "type": "string"}}, "type": "object"}, "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction": {"description": "Opens the given URI.", "properties": {"uri": {"description": "Required. The HTTP or HTTPS scheme URI.", "type": "string"}}, "type": "object"}, "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard": {"description": "Browse Carousel Card for Actions on Google.\nhttps://developers.google.com/actions/assistant/responses#browsing_carousel", "properties": {"imageDisplayOptions": {"description": "Optional. Settings for displaying the image. Applies to every image in\nitems.", "enum": ["IMAGE_DISPLAY_OPTIONS_UNSPECIFIED", "GRAY", "WHITE", "CROPPED", "BLURRED_BACKGROUND"], "type": "string"}, "items": {"description": "Required. List of items in the Browse Carousel Card. Minimum of two\nitems, maximum of ten.", "items": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem"}, "type": "array"}}, "type": "object"}, "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem": {"description": "Browsing carousel tile", "properties": {"description": {"description": "Optional. Description of the carousel item. Maximum of four lines of\ntext.", "type": "string"}, "footer": {"description": "Optional. Text that appears at the bottom of the Browse Carousel\nCard. Maximum of one line of text.", "type": "string"}, "image": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2IntentMessageImage", "description": "Optional. Hero image for the carousel item."}, "openUriAction": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction", "description": "Required. Action to present to the user."}, "title": {"description": "Required. Title of the carousel item. Maximum of two lines of text.", "type": "string"}}, "type": "object"}, "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction": {"description": "Actions on Google action to open a given url.", "properties": {"url": {"description": "Required. URL", "type": "string"}, "urlTypeHint": {"description": "Optional. Specifies the type of viewer that is used when opening\nthe URL. Defaults to opening via web browser.", "enum": ["URL_TYPE_HINT_UNSPECIFIED", "AMP_ACTION", "AMP_CONTENT"], "type": "string"}}, "type": "object"}, "GoogleCloudDialogflowV2IntentMessageCard": {"description": "The card response message.", "properties": {"buttons": {"description": "Optional. The collection of card buttons.", "items": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2IntentMessageCardButton"}, "type": "array"}, "imageUri": {"description": "Optional. The public URI to an image file for the card.", "type": "string"}, "subtitle": {"description": "Optional. The subtitle of the card.", "type": "string"}, "title": {"description": "Optional. The title of the card.", "type": "string"}}, "type": "object"}, "GoogleCloudDialogflowV2IntentMessageCardButton": {"description": "Contains information about a button.", "properties": {"postback": {"description": "Optional. The text to send back to the Dialogflow API or a URI to\nopen.", "type": "string"}, "text": {"description": "Optional. The text to show on the button.", "type": "string"}}, "type": "object"}, "GoogleCloudDialogflowV2IntentMessageCarouselSelect": {"description": "The card for presenting a carousel of options to select from.", "properties": {"items": {"description": "Required. Carousel items.", "items": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2IntentMessageCarouselSelectItem"}, "type": "array"}}, "type": "object"}, "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem": {"description": "An item in the carousel.", "properties": {"description": {"description": "Optional. The body text of the card.", "type": "string"}, "image": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2IntentMessageImage", "description": "Optional. The image to display."}, "info": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2IntentMessageSelectItemInfo", "description": "Required. Additional info about the option item."}, "title": {"description": "Required. Title of the carousel item.", "type": "string"}}, "type": "object"}, "GoogleCloudDialogflowV2IntentMessageColumnProperties": {"description": "Column properties for TableCard.", "properties": {"header": {"description": "Required. Column heading.", "type": "string"}, "horizontalAlignment": {"description": "Optional. Defines text alignment for all cells in this column.", "enum": ["HORIZONTAL_ALIGNMENT_UNSPECIFIED", "LEADING", "CENTER", "TRAILING"], "type": "string"}}, "type": "object"}, "GoogleCloudDialogflowV2IntentMessageImage": {"description": "The image response message.", "properties": {"accessibilityText": {"description": "Optional. A text description of the image to be used for accessibility,\ne.g., screen readers.", "type": "string"}, "imageUri": {"description": "Optional. The public URI to an image file.", "type": "string"}}, "type": "object"}, "GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion": {"description": "The suggestion chip message that allows the user to jump out to the app\nor website associated with this agent.", "properties": {"destinationName": {"description": "Required. The name of the app or site this chip is linking to.", "type": "string"}, "uri": {"description": "Required. The URI of the app or site to open when the user taps the\nsuggestion chip.", "type": "string"}}, "type": "object"}, "GoogleCloudDialogflowV2IntentMessageListSelect": {"description": "The card for presenting a list of options to select from.", "properties": {"items": {"description": "Required. List items.", "items": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2IntentMessageListSelectItem"}, "type": "array"}, "subtitle": {"description": "Optional. Subtitle of the list.", "type": "string"}, "title": {"description": "Optional. The overall title of the list.", "type": "string"}}, "type": "object"}, "GoogleCloudDialogflowV2IntentMessageListSelectItem": {"description": "An item in the list.", "properties": {"description": {"description": "Optional. The main text describing the item.", "type": "string"}, "image": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2IntentMessageImage", "description": "Optional. The image to display."}, "info": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2IntentMessageSelectItemInfo", "description": "Required. Additional information about this option."}, "title": {"description": "Required. The title of the list item.", "type": "string"}}, "type": "object"}, "GoogleCloudDialogflowV2IntentMessageMediaContent": {"description": "The media content card for Actions on Google.", "properties": {"mediaObjects": {"description": "Required. List of media objects.", "items": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2IntentMessageMediaContentResponseMediaObject"}, "type": "array"}, "mediaType": {"description": "Optional. What type of media is the content (ie \"audio\").", "enum": ["RESPONSE_MEDIA_TYPE_UNSPECIFIED", "AUDIO"], "type": "string"}}, "type": "object"}, "GoogleCloudDialogflowV2IntentMessageMediaContentResponseMediaObject": {"description": "Response media object for media content card.", "properties": {"contentUrl": {"description": "Required. Url where the media is stored.", "type": "string"}, "description": {"description": "Optional. Description of media card.", "type": "string"}, "icon": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2IntentMessageImage", "description": "Optional. Icon to display above media content."}, "largeImage": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2IntentMessageImage", "description": "Optional. Image to display above media content."}, "name": {"description": "Required. Name of media card.", "type": "string"}}, "type": "object"}, "GoogleCloudDialogflowV2IntentMessageQuickReplies": {"description": "The quick replies response message.", "properties": {"quickReplies": {"description": "Optional. The collection of quick replies.", "items": {"type": "string"}, "type": "array"}, "title": {"description": "Optional. The title of the collection of quick replies.", "type": "string"}}, "type": "object"}, "GoogleCloudDialogflowV2IntentMessageSelectItemInfo": {"description": "Additional info about the select item for when it is triggered in a\ndialog.", "properties": {"key": {"description": "Required. A unique key that will be sent back to the agent if this\nresponse is given.", "type": "string"}, "synonyms": {"description": "Optional. A list of synonyms that can also be used to trigger this\nitem in dialog.", "items": {"type": "string"}, "type": "array"}}, "type": "object"}, "GoogleCloudDialogflowV2IntentMessageSimpleResponse": {"description": "The simple response message containing speech or text.", "properties": {"displayText": {"description": "Optional. The text to display.", "type": "string"}, "ssml": {"description": "One of text_to_speech or ssml must be provided. Structured spoken\nresponse to the user in the SSML format. Mutually exclusive with\ntext_to_speech.", "type": "string"}, "textToSpeech": {"description": "One of text_to_speech or ssml must be provided. The plain text of the\nspeech output. Mutually exclusive with ssml.", "type": "string"}}, "type": "object"}, "GoogleCloudDialogflowV2IntentMessageSimpleResponses": {"description": "The collection of simple response candidates.\nThis message in `QueryResult.fulfillment_messages` and\n`WebhookResponse.fulfillment_messages` should contain only one\n`SimpleResponse`.", "properties": {"simpleResponses": {"description": "Required. The list of simple responses.", "items": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2IntentMessageSimpleResponse"}, "type": "array"}}, "type": "object"}, "GoogleCloudDialogflowV2IntentMessageSuggestion": {"description": "The suggestion chip message that the user can tap to quickly post a reply\nto the conversation.", "properties": {"title": {"description": "Required. The text shown the in the suggestion chip.", "type": "string"}}, "type": "object"}, "GoogleCloudDialogflowV2IntentMessageSuggestions": {"description": "The collection of suggestions.", "properties": {"suggestions": {"description": "Required. The list of suggested replies.", "items": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2IntentMessageSuggestion"}, "type": "array"}}, "type": "object"}, "GoogleCloudDialogflowV2IntentMessageTableCard": {"description": "Table card for Actions on Google.", "properties": {"buttons": {"description": "Optional. List of buttons for the card.", "items": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2IntentMessageBasicCardButton"}, "type": "array"}, "columnProperties": {"description": "Optional. Display properties for the columns in this table.", "items": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2IntentMessageColumnProperties"}, "type": "array"}, "image": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2IntentMessageImage", "description": "Optional. Image which should be displayed on the card."}, "rows": {"description": "Optional. Rows in this table of data.", "items": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2IntentMessageTableCardRow"}, "type": "array"}, "subtitle": {"description": "Optional. Subtitle to the title.", "type": "string"}, "title": {"description": "Required. Title of the card.", "type": "string"}}, "type": "object"}, "GoogleCloudDialogflowV2IntentMessageTableCardCell": {"description": "Cell of TableCardRow.", "properties": {"text": {"description": "Required. Text in this cell.", "type": "string"}}, "type": "object"}, "GoogleCloudDialogflowV2IntentMessageTableCardRow": {"description": "Row of TableCard.", "properties": {"cells": {"description": "Optional. List of cells that make up this row.", "items": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2IntentMessageTableCardCell"}, "type": "array"}, "dividerAfter": {"description": "Optional. Whether to add a visual divider after this row.", "type": "boolean"}}, "type": "object"}, "GoogleCloudDialogflowV2IntentMessageText": {"description": "The text response message.", "properties": {"text": {"description": "Optional. The collection of the agent's responses.", "items": {"type": "string"}, "type": "array"}}, "type": "object"}, "GoogleCloudDialogflowV2IntentParameter": {"description": "Represents intent parameters.", "properties": {"defaultValue": {"description": "Optional. The default value to use when the `value` yields an empty\nresult.\nDefault values can be extracted from contexts by using the following\nsyntax: `#context_name.parameter_name`.", "type": "string"}, "displayName": {"description": "Required. The name of the parameter.", "type": "string"}, "entityTypeDisplayName": {"description": "Optional. The name of the entity type, prefixed with `@`, that\ndescribes values of the parameter. If the parameter is\nrequired, this must be provided.", "type": "string"}, "isList": {"description": "Optional. Indicates whether the parameter represents a list of values.", "type": "boolean"}, "mandatory": {"description": "Optional. Indicates whether the parameter is required. That is,\nwhether the intent cannot be completed without collecting the parameter\nvalue.", "type": "boolean"}, "name": {"description": "The unique identifier of this parameter.", "type": "string"}, "prompts": {"description": "Optional. The collection of prompts that the agent can present to the\nuser in order to collect a value for the parameter.", "items": {"type": "string"}, "type": "array"}, "value": {"description": "Optional. The definition of the parameter value. It can be:\n- a constant string,\n- a parameter value defined as `$parameter_name`,\n- an original parameter value defined as `$parameter_name.original`,\n- a parameter value from some context defined as\n  `#context_name.parameter_name`.", "type": "string"}}, "type": "object"}, "GoogleCloudDialogflowV2IntentTrainingPhrase": {"description": "Represents an example that the agent is trained on.", "properties": {"name": {"description": "Output only. The unique identifier of this training phrase.", "type": "string"}, "parts": {"description": "Required. The ordered list of training phrase parts.\nThe parts are concatenated in order to form the training phrase.\n\nNote: The API does not automatically annotate training phrases like the\nDialogflow Console does.\n\nNote: Do not forget to include whitespace at part boundaries,\nso the training phrase is well formatted when the parts are concatenated.\n\nIf the training phrase does not need to be annotated with parameters,\nyou just need a single part with only the Part.text field set.\n\nIf you want to annotate the training phrase, you must create multiple\nparts, where the fields of each part are populated in one of two ways:\n\n-   `Part.text` is set to a part of the phrase that has no parameters.\n-   `Part.text` is set to a part of the phrase that you want to annotate,\n    and the `entity_type`, `alias`, and `user_defined` fields are all\n    set.", "items": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2IntentTrainingPhrasePart"}, "type": "array"}, "timesAddedCount": {"description": "Optional. Indicates how many times this example was added to\nthe intent. Each time a developer adds an existing sample by editing an\nintent or training, this counter is increased.", "format": "int32", "type": "integer"}, "type": {"description": "Required. The type of the training phrase.", "enum": ["TYPE_UNSPECIFIED", "EXAMPLE", "TEMPLATE"], "type": "string"}}, "type": "object"}, "GoogleCloudDialogflowV2IntentTrainingPhrasePart": {"description": "Represents a part of a training phrase.", "properties": {"alias": {"description": "Optional. The parameter name for the value extracted from the\nannotated part of the example.\nThis field is required for annotated parts of the training phrase.", "type": "string"}, "entityType": {"description": "Optional. The entity type name prefixed with `@`.\nThis field is required for annotated parts of the training phrase.", "type": "string"}, "text": {"description": "Required. The text for this part.", "type": "string"}, "userDefined": {"description": "Optional. Indicates whether the text was manually annotated.\nThis field is set to true when the Dialogflow Console is used to\nmanually annotate the part. When creating an annotated part with the\nAPI, you must set this to true.", "type": "boolean"}}, "type": "object"}, "GoogleCloudDialogflowV2ListContextsResponse": {"description": "The response message for Contexts.ListContexts.", "properties": {"contexts": {"description": "The list of contexts. There will be a maximum number of items\nreturned based on the page_size field in the request.", "items": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2Context"}, "type": "array"}, "nextPageToken": {"description": "Token to retrieve the next page of results, or empty if there are no\nmore results in the list.", "type": "string"}}, "type": "object"}, "GoogleCloudDialogflowV2ListEntityTypesResponse": {"description": "The response message for EntityTypes.ListEntityTypes.", "properties": {"entityTypes": {"description": "The list of agent entity types. There will be a maximum number of items\nreturned based on the page_size field in the request.", "items": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2EntityType"}, "type": "array"}, "nextPageToken": {"description": "Token to retrieve the next page of results, or empty if there are no\nmore results in the list.", "type": "string"}}, "type": "object"}, "GoogleCloudDialogflowV2ListIntentsResponse": {"description": "The response message for Intents.ListIntents.", "properties": {"intents": {"description": "The list of agent intents. There will be a maximum number of items\nreturned based on the page_size field in the request.", "items": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2Intent"}, "type": "array"}, "nextPageToken": {"description": "Token to retrieve the next page of results, or empty if there are no\nmore results in the list.", "type": "string"}}, "type": "object"}, "GoogleCloudDialogflowV2ListSessionEntityTypesResponse": {"description": "The response message for SessionEntityTypes.ListSessionEntityTypes.", "properties": {"nextPageToken": {"description": "Token to retrieve the next page of results, or empty if there are no\nmore results in the list.", "type": "string"}, "sessionEntityTypes": {"description": "The list of session entity types. There will be a maximum number of items\nreturned based on the page_size field in the request.", "items": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2SessionEntityType"}, "type": "array"}}, "type": "object"}, "GoogleCloudDialogflowV2Message": {"description": "Represents a message posted into a conversation.", "properties": {"content": {"description": "Required. The message content.", "type": "string"}, "createTime": {"description": "Output only. The time when the message was created.", "format": "google-datetime", "type": "string"}, "languageCode": {"description": "Optional. The message language.\nThis should be a [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt)\nlanguage tag. Example: \"en-US\".", "type": "string"}, "messageAnnotation": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2MessageAnnotation", "description": "Output only. The annotation for the message."}, "name": {"description": "The unique identifier of the message.\nFormat: `projects/<Project ID>/conversations/<Conversation\nID>/messages/<Message ID>`.", "type": "string"}, "participant": {"description": "Output only. The participant that sends this message.", "type": "string"}, "participantRole": {"description": "Output only. The role of the participant.", "enum": ["ROLE_UNSPECIFIED", "HUMAN_AGENT", "AUTOMATED_AGENT", "END_USER"], "type": "string"}}, "type": "object"}, "GoogleCloudDialogflowV2MessageAnnotation": {"description": "Represents the result of annotation for the message.", "properties": {"containEntities": {"description": "Indicates whether the text message contains entities.", "type": "boolean"}, "parts": {"description": "The collection of annotated message parts ordered by their\nposition in the message. You can recover the annotated message by\nconcatenating [AnnotatedMessagePart.text].", "items": {"$ref": "#/components/schemas/GoogleCloudDialogflowV2AnnotatedMessagePart"}, "type": "array"}}, "type": "object"}, "GoogleCloudDialogflowV2OriginalDetectIntentReq
[...]
