{"openapi": "3.0.0", "servers": [{"url": "https://bigqueryreservation.googleapis.com/"}], "info": {"contact": {"name": "Google", "url": "https://google.com"}, "description": "A service to modify your BigQuery flat-rate reservations.", "license": {"name": "Creative Commons Attribution 3.0", "url": "http://creativecommons.org/licenses/by/3.0/"}, "termsOfService": "https://developers.google.com/terms/", "title": "BigQuery Reservation", "version": "v1", "x-apiClientRegistration": {"url": "https://console.developers.google.com"}, "x-logo": {"url": "https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png"}, "x-origin": [{"converter": {"url": "https://github.com/lucybot/api-spec-converter", "version": "2.7.31"}, "format": "google", "url": "https://bigqueryreservation.googleapis.com/$discovery/rest?version=v1", "version": "v1"}], "x-preferred": true, "x-providerName": "googleapis.com", "x-serviceName": "bigqueryreservation"}, "externalDocs": {"url": "https://cloud.google.com/bigquery/"}, "tags": [{"name": "operations"}], "paths": {"/v1/{name}": {"delete": {"description": "Deletes a long-running operation. This method indicates that the client is\nno longer interested in the operation result. It does not cancel the\noperation. If the server doesn't support this method, it returns\n`google.rpc.Code.UNIMPLEMENTED`.", "operationId": "bigqueryreservation.operations.delete", "parameters": [{"description": "The name of the operation resource to be deleted.", "in": "path", "name": "name", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}], "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/Empty"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/bigquery"], "Oauth2c": ["https://www.googleapis.com/auth/bigquery"]}, {"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}], "tags": ["operations"]}, "get": {"description": "Lists operations that match the specified filter in the request. If the\nserver doesn't support this method, it returns `UNIMPLEMENTED`.\n\nNOTE: the `name` binding allows API services to override the binding\nto use different resource name schemes, such as `users/*/operations`. To\noverride the binding, API services can add a binding such as\n`\"/v1/{name=users/*}/operations\"` to their service configuration.\nFor backwards compatibility, the default name includes the operations\ncollection id, however overriding users must ensure the name binding\nis the parent resource, without the operations collection id.", "operationId": "bigqueryreservation.operations.list", "parameters": [{"description": "The name of the operation's parent resource.", "in": "path", "name": "name", "required": true, "schema": {"type": "string"}, "x-reservedExpansion": true}, {"description": "The standard list filter.", "in": "query", "name": "filter", "schema": {"type": "string"}}, {"description": "The standard list page size.", "in": "query", "name": "pageSize", "schema": {"type": "integer"}}, {"description": "The standard list page token.", "in": "query", "name": "pageToken", "schema": {"type": "string"}}], "responses": {"200": {"content": {"*/*": {"schema": {"$ref": "#/components/schemas/ListOperationsResponse"}}}, "description": "Successful response"}}, "security": [{"Oauth2": ["https://www.googleapis.com/auth/bigquery"], "Oauth2c": ["https://www.googleapis.com/auth/bigquery"]}, {"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}], "tags": ["operations"]}, "parameters": [{"$ref": "#/components/parameters/upload_protocol"}, {"$ref": "#/components/parameters/quotaUser"}, {"$ref": "#/components/parameters/prettyPrint"}, {"$ref": "#/components/parameters/uploadType"}, {"$ref": "#/components/parameters/fields"}, {"$ref": "#/components/parameters/callback"}, {"$ref": "#/components/parameters/oauth_token"}, {"$ref": "#/components/parameters/_.xgafv"}, {"$ref": "#/components/parameters/alt"}, {"$ref": "#/components/parameters/key"}, {"$ref": "#/components/parameters/access_token"}]}}, "components": {"parameters": {"_.xgafv": {"description": "V1 error format.", "in": "query", "name": "$.xgafv", "schema": {"enum": ["1", "2"], "type": "string"}}, "access_token": {"description": "OAuth access token.", "in": "query", "name": "access_token", "schema": {"type": "string"}}, "alt": {"description": "Data format for response.", "in": "query", "name": "alt", "schema": {"default": "json", "enum": ["json", "media", "proto"], "type": "string"}}, "callback": {"description": "JSONP", "in": "query", "name": "callback", "schema": {"type": "string"}}, "fields": {"description": "Selector specifying which fields to include in a partial response.", "in": "query", "name": "fields", "schema": {"type": "string"}}, "key": {"description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.", "in": "query", "name": "key", "schema": {"type": "string"}}, "oauth_token": {"description": "OAuth 2.0 token for the current user.", "in": "query", "name": "oauth_token", "schema": {"type": "string"}}, "prettyPrint": {"description": "Returns response with indentations and line breaks.", "in": "query", "name": "prettyPrint", "schema": {"default": true, "type": "boolean"}}, "quotaUser": {"description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.", "in": "query", "name": "quotaUser", "schema": {"type": "string"}}, "uploadType": {"description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").", "in": "query", "name": "uploadType", "schema": {"type": "string"}}, "upload_protocol": {"description": "Upload protocol for media (e.g. \"raw\", \"multipart\").", "in": "query", "name": "upload_protocol", "schema": {"type": "string"}}}, "schemas": {"Empty": {"description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.", "properties": {}, "type": "object"}, "ListOperationsResponse": {"description": "The response message for Operations.ListOperations.", "properties": {"nextPageToken": {"description": "The standard List next-page token.", "type": "string"}, "operations": {"description": "A list of operations that matches the specified filter in the request.", "items": {"$ref": "#/components/schemas/Operation"}, "type": "array"}}, "type": "object"}, "LocationMetadata": {"description": "BigQuery-specific metadata about a location. This will be set on\ngoogle.cloud.location.Location.metadata in Cloud Location API\nresponses.", "properties": {"legacyLocationId": {"description": "The legacy BigQuery location ID, e.g. \u201cEU\u201d for the \u201ceurope\u201d location.\nThis is for any API consumers that need the legacy \u201cUS\u201d and \u201cEU\u201d locations.", "type": "string"}}, "type": "object"}, "Operation": {"description": "This resource represents a long-running operation that is the result of a\nnetwork API call.", "properties": {"done": {"description": "If the value is `false`, it means the operation is still in progress.\nIf `true`, the operation is completed, and either `error` or `response` is\navailable.", "type": "boolean"}, "error": {"$ref": "#/components/schemas/Status", "description": "The error result of the operation in case of failure or cancellation."}, "metadata": {"additionalProperties": {"description": "Properties of the object. Contains field @type with type URL."}, "description": "Service-specific metadata associated with the operation.  It typically\ncontains progress information and common metadata such as create time.\nSome services might not provide such metadata.  Any method that returns a\nlong-running operation should document the metadata type, if any.", "type": "object"}, "name": {"description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should be a resource name ending with `operations/{unique_id}`.", "type": "string"}, "response": {"additionalProperties": {"description": "Properties of the object. Contains field @type with type URL."}, "description": "The normal response of the operation in case of success.  If the original\nmethod returns no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.  If the original method is standard\n`Get`/`Create`/`Update`, the response should be the resource.  For other\nmethods, the response should have the type `XxxResponse`, where `Xxx`\nis the original method name.  For example, if the original method name\nis `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.", "type": "object"}}, "type": "object"}, "Status": {"description": "The `Status` type defines a logical error model that is suitable for\ndifferent programming environments, including REST APIs and RPC APIs. It is\nused by [gRPC](https://github.com/grpc). Each `Status` message contains\nthree pieces of data: error code, error message, and error details.\n\nYou can find out more about this error model and how to work with it in the\n[API Design Guide](https://cloud.google.com/apis/design/errors).", "properties": {"code": {"description": "The status code, which should be an enum value of google.rpc.Code.", "format": "int32", "type": "integer"}, "details": {"description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.", "items": {"additionalProperties": {"description": "Properties of the object. Contains field @type with type URL."}, "type": "object"}, "type": "array"}, "message": {"description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.", "type": "string"}}, "type": "object"}}, "securitySchemes": {"Oauth2": {"description": "Oauth 2.0 implicit authentication", "flows": {"implicit": {"authorizationUrl": "https://accounts.google.com/o/oauth2/auth", "scopes": {"https://www.googleapis.com/auth/bigquery": "View and manage your data in Google BigQuery", "https://www.googleapis.com/auth/cloud-platform": "View and manage your data across Google Cloud Platform services"}}}, "type": "oauth2"}, "Oauth2c": {"description": "Oauth 2.0 accessCode authentication", "flows": {"authorizationCode": {"authorizationUrl": "https://accounts.google.com/o/oauth2/auth", "scopes": {"https://www.googleapis.com/auth/bigquery": "View and manage your data in Google BigQuery", "https://www.googleapis.com/auth/cloud-platform": "View and manage your data across Google Cloud Platform services"}, "tokenUrl": "https://accounts.google.com/o/oauth2/token"}}, "type": "oauth2"}}}}